<div ng-controller = "ItemPreviewCtrl">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Preview</div>
            <div class="panel-body">
                <!-- Label -->
                <div>
                    <h4>Label:</h4>
                    <p>{{itemToPreview.label}}</p>
                </div>

                <div ng-if="hasImage">
                    <h4>Image:</h4>
                    <img ng-src="{{itemToPreview.image}}" />
                </div>

                <div>
                    <h4>Description:</h4>
                    <p>{{itemToPreview.description}}</p>
                </div>

                <div>
                    <h4>Type:</h4>
                    <ul>
                        <li ng-repeat="type in itemToPreview.type">{{getLabelType(type)}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>