<div class="pnd-dashboard-container" ng-controller="DashboardCtrl">

    <!-- panel list -->
    <div class="pnd-dashboard-panel pnd-dashboard-panel-lists">
        <div class="pnd-dashboard-panel-expanded" ng-hide="listsCollapsed">
            <div class="pnd-dashboard-panel-nav"></div>
            <div class="pnd-dashboard-panel-content">
                <!-- the content comes from outside-->
            </div>
            <!--collapse button-->
            <button type="button" class="btn btn-default"
                    ng-click="toggleListsPanel()">X</button>
        </div>
        <!--panel collapsed-->
        <div class="pnd-dashboard-panel-collapsed" ng-show="listsCollapsed">
            <button type="button" class="btn btn-default" ng-click="toggleListsPanel()">E</button>
        </div>
    </div>

    <!-- panel tools -->
    <div class="pnd-dashboard-panel pnd-dashboard-panel-tools">
        <div class="pnd-dashboard-panel-expanded" ng-hide="toolsCollapsed">
            <div class="pnd-dashboard-panel-nav"></div>
            <div class="pnd-dashboard-panel-content">
                <!-- the content comes from outside-->
            </div>
            <button type="button" class="btn btn-default"
                    ng-click="collapseToolsPanel()">X</button>
        </div>
        <!--panel collapsed-->
        <div class="pnd-dashboard-panel-collapsed" ng-show="toolsCollapsed">
            <button type="button" class="btn btn-default" ng-click="collapseToolsPanel()">E</button>
        </div>
    </div>

    <!-- panel details -->
    <div class="pnd-dashboard-panel pnd-dashboard-panel-details">
        <div class="pnd-dashboard-panel-expanded" ng-hide="detailsCollapsed">
            <div class="pnd-dashboard-panel-nav"></div>
            <div class="pnd-dashboard-panel-content">
                <!-- the content comes from outside-->
            </div>
            <button type="button" class="btn btn-default"
                    ng-click="collapseDetailsPanel()">X</button>
        </div>
        <!--panel collapsed-->
        <div class="pnd-dashboard-panel-collapsed" ng-show="detailsCollapsed">
            <button type="button" class="btn btn-default" ng-click="collapseDetailsPanel()">E</button>
        </div>
    </div>

    <!--separator-->
    <div class="pnd-dashboard-separator pnd-dashboard-separator-1" ng-mousedown="firstSeparatorMouseDownHandler($event)"></div>
    <div class="pnd-dashboard-separator pnd-dashboard-separator-2" ng-mousedown="secondSeparatorMouseDownHandler($event)"></div>

    <!--footer-->
    <div class="pnd-dashboard-footer" ng-mousedown="footerMouseDownHandler($event)"></div>

</div>