<div class="pnd-dashboard-panel" ng-class="{'pnd-dashboard-panel-last': isLast}"
     style="width: {{width}}px; left: {{left}}px; bottom: {{bottom}}px;">

    <div class="pnd-dashboard-panel-expanded" ng-hide="isCollapsed">
        <!--<div class="pnd-dashboard-panel-nav"></div>-->
        <div class="pnd-dashboard-panel-content" template="src/Dashboard/DashboardPanelTabs.tmpl.html" bs-tabs="tabs">
            <!-- the content comes from outside-->
        </div>
        <button type="button" class="btn btn-xs btn-default" ng-click="toggleCollapse()"><span class="pnd-icon pnd-icon-times"></span></button>
    </div>

    <div class="pnd-dashboard-panel-collapsed" ng-show="isCollapsed" style="width: {{collapsedWidth}}px;">
        <div class="pnd-dashboard-panel-collapsed-content"></div>
        <button type="button" class="btn btn-xs btn-default" ng-click="toggleCollapse()"><span class="pnd-icon pnd-icon-expand"></span></button>
    </div>

    <div class="pnd-dashboard-panel-separator"
         ng-mousedown="mouseDownHandler($event)"
         ng-show="!isLast"></div>

</div>