<div class="pnd-dashboard-panel"
     style=" width: {{width}}px; left: {{left}}px; bottom: {{bottom}}px;">

    <div class="pnd-dashboard-panel-expanded" ng-hide="isCollapsed">
        <!--<div class="pnd-dashboard-panel-nav"></div>-->
        <div class="pnd-dashboard-panel-content" bs-tabs="tabs">
            <h3>{{title}}</h3>
            width: {{width | number: 3}}<br>
            ratio {{ratio | number: 3}}
            <!-- the content comes from outside-->
        </div>
        <button type="button" class="btn btn-default" ng-click="toggleCollapse()">X</button>
    </div>

    <div class="pnd-dashboard-panel-collapsed" ng-show="isCollapsed" style="width: {{collapsedWidth}}px;">
        <div class="pnd-dashboard-panel-collapsed-content"></div>
        <button type="button" class="btn btn-default" ng-click="toggleCollapse()">E</button>
    </div>

    <div class="pnd-dashboard-panel-separator"
         ng-mousedown="mouseDownHandler($event)"
         ng-show="!isLast">drag</div>

</div>