<div class="pnd-dashboard-panel"
     style="border: 1px solid #fc0; width: {{width}}px; left: {{left}}px; bottom: {{bottom}}px;">

    <div class="pnd-dashboard-panel-expanded" ng-hide="isCollapsed">
        <div class="pnd-dashboard-panel-nav"></div>
        <div class="pnd-dashboard-panel-content">
            <h3>{{title}}</h3>
            width: {{width | number: 3}}<br>
            ratio {{ratio | number: 3}}
            <!-- the content comes from outside-->
        </div>
        <button type="button" class="btn btn-default" ng-click="toggleCollapse()">X</button>
    </div>

    <div class="pnd-dashboard-panel-collapsed" ng-show="isCollapsed">
        <button type="button" class="btn btn-default" ng-click="toggleCollapse()">E</button>
    </div>

    <div class="pnd-dashboard-panel-separator"
         ng-mousedown="mouseDownHandler($event)"
         ng-show="!isLast">drag</div>

</div>