<ul tabindex="-1" class="typeahead dropdown-menu kee-autocomplete-list" ng-show="$isVisible() && !serverNotRunning" role="select">
  <li role="presentation" ng-repeat="match in $matches" ng-class="{active: $index == $activeIndex}">
    <!-- <a role="menuitem" tabindex="-1" ng-click="$select($index, $event);selectEntity(match)" ng-bind="match.label" ng-show="match.label!== 'no found'"></a> -->
    <!-- </spam> -->
    <item uri="{{match.value.uri}}" ng-click="$select($index, $event);selectEntity(match)" ng-if="match.label !== 'no found'"></item>
    <a role="menuitem" tabindex="-1" disabled ng-bind="noFound" ng-show="match.value.noResult === true"></a>
  </li>
    <li ng-show="showNewButton() || showSearchButton()" class="divider"></li>
    <li>
    <!-- footer -->
    <div class="kee-footer-autocomplete">
        <span class="kee-elem-to-search" ng-show="showNewButton() || showSearchButton()">{{elemToSearch}}</span>
        <button class="kee-btn-new btn btn-success btn-xs" ng-show="showNewButton()" ng-click="openKeeModal()">
            <i class="pnd-icon pnd-icon-plus"></i>
            Create new
        </button>
        <button class="kee-btn-search btn btn-success btn-xs" ng-show="showSearchButton()" ng-click="searchOnLOD()">
            <i class="pnd-icon pnd-icon-search"></i>
            Search in LOD
        </button>
    </div>
    <!-- End footer -->
    </li>
</ul>
