<ul tabindex="-1" class="typeahead dropdown-menu kee-autocomplete-list list-group" ng-show="$isVisible() && !serverNotRunning" role="select">
  <li role="presentation" ng-repeat="match in $matches"  class="list-group-item">
    <item uri="{{match.value.uri}}" ng-click="$select($index, $event);selectEntity(match)" ng-if="match.label !== 'no found'"></item>
    <a role="menuitem" tabindex="-1" disabled ng-bind="noFound" ng-show="match.value.noResult === true"></a>
  </li>
    <li ng-show="showNewButton() || showSearchButton()"></li>
    <li>
    <!-- footer -->
    <div class="kee-footer-autocomplete">
        <span class="kee-elem-to-search" ng-show="showNewButton() || showSearchButton()">"{{elemToSearch}}"</span>
        <button class="kee-btn-new btn btn-success btn-xs" ng-show="showNewButton()" ng-click="openKeeModal()">
            <i class="pnd-icon pnd-icon-plus"></i>
            Create new
        </button>
        <button class="kee-btn-search btn btn-success btn-xs" ng-show="showSearchButton()" ng-click="searchOnLOD()">
            <i class="pnd-icon pnd-icon-search"></i>
            Search in LOD
        </button>
    </div>
    <!-- End footer -->
    </li>
</ul>
