<ul tabindex="-1" class="typeahead dropdown-menu" ng-show="$isVisible()" role="select">
  <li role="presentation" ng-repeat="match in $matches" ng-class="{active: $index == $activeIndex}">
    <a role="menuitem" tabindex="-1" ng-click="$select($index, $event);isSelect(match)" ng-bind="match.label" ng-if="match.label!== 'no found'"></a>
    <a role="menuitem" tabindex="-1" disabled ng-bind="noFound" ng-if="match.value.noResult === true"></a>
  </li>
    <li class="divider"></li>
    <li>
        <span>{{elemToSearch}}</span>
        <button> New </button>
        <button> Search </button>
    </li>
</ul>
