<ul class="pnd-dropdown-contextual-menu dropdown-menu pnd-ignore" role="menu">
    <li role="presentation" ng-class="{'current-notebook': item.currentNotebook, divider: item.divider, 'disabled': item.disable, 'dropdown-submenu': item.submenu, active: item.isActive, 'dropdown-header': item.header}" ng-repeat="item in content">
        <span ng-if="item.header" ng-bind="item.text"></span>
        <a role="menuitem" tabindex="-1" ng-href="{{item.href}}" ng-if="!item.divider && !item.header && item.href" ng-bind="item.text"></a>
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-if="!item.divider && !item.header && item.click" ng-click="$eval(item.click);$hide()" ng-bind="item.text"></a>
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-if="item.submenu" ng-mouseover="$eval(item.hover);" ng-mouseleave="$eval(item.leave);" ng-bind="item.text"></a>
    </li>
</ul>