.pnd-annotation-sidebar-container {
    background: @gray-light;

    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index: 999999;
    padding: 20px;
    display: block;
    border-left: 1px solid #000;
    opacity: 0.75;  
    -webkit-transition-duration: 1s, 1s, 1s;
    -moz-transition-duration: 1s, 1s, 1s;
    -o-transition-duration: 1s, 1s, 1s;
    transition-duration: 1s, 1s, 1s;
}

