.ann-auto {
    &.ann-hidden {
        background-color: inherit !important;
    }
    &:not(.ann-hidden) {
        cursor: pointer;
        &:hover {
            border-bottom: 1px solid red;
        }
        &.ann-waiting {
            background-color: #fc0;
        }
        &.ann-active {
            background-color: #4bd;
        }
        &.ann-ok {
            background-color: #3f3;
        }
        &.ann-removed {
            border: 1px dashed red;
        }
    }
}


.selecting {
    outline: 2px solid rgba(255, 0, 0, 0.5);
}
.selecting-ancestor {
    outline: 4px solid rgba(0, 255, 0, 0.5);
}