body.pnd-annotation-sidebar-collapsed {
    margin-right: @annotation-sidebar-coll-width;
    background-position-x: -@annotation-sidebar-coll-width;
}
body.pnd-annotation-sidebar-expanded {
    margin-right: @annotation-sidebar-exp-width;
    background-position-x: -@annotation-sidebar-exp-width;
}

// .pnd-as-transition {
//     -webkit-transition-duration: 1s;
//     -moz-transition-duration: 1s;
//     -o-transition-duration: 1s;
//     transition-duration: 1s;
// }    

.pnd-annotation-sidebar-container {
    background: @gray-light;

    position: absolute;
    right: 0px;
    top: @toolbar-height;
    height: 100%;
    z-index: 99;
    // padding: 20px;
    display: block;
    border-left: 1px solid #000;
    opacity: 0.75;  
}
.pnd-annotation-sidebar-content{
    padding: 10px;
}
.pnd-annotation-sidebar-container.pnd-annotation-sidebar-collapsed {
    width: @annotation-sidebar-coll-width;
}
.pnd-annotation-sidebar-container.pnd-annotation-sidebar-expanded {
    width: @annotation-sidebar-exp-width;
}