// body.pnd-annotation-sidebar-active { TODO: valutare delay
body {
    margin-right: @annotation-sidebar-coll-width;
    background-position-x: -@annotation-sidebar-coll-width;
}

body.pnd-annotation-sidebar-active, .pnd-as-transition {
    -webkit-transition-duration: 1s, 1s, 1s;
    -moz-transition-duration: 1s, 1s, 1s;
    -o-transition-duration: 1s, 1s, 1s;
    transition-duration: 1s, 1s, 1s;
}

.pnd-body-with-sidebar-expanded {
    margin-right: @annotation-sidebar-exp-width;
}

.pnd-annotation-sidebar-container {
    background: @gray-light;

    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    z-index: 999999;
    // padding: 20px;
    display: block;
    border-left: 1px solid #000;
    opacity: 0.75;  
}

.pnd-annotation-sidebar-collapsed {
    width: @annotation-sidebar-coll-width;
}
.pnd-annotation-sidebar-expanded {
    width: @annotation-sidebar-exp-width;
}

