// defined in Dashboard.service.js
@footer-height: 20px;
@separator-width: 10px;


.pnd-dashboard-panel-collapse-button {
    position: absolute;
    z-index: 1;
}

.pnd-dashboard-container {
    position : relative;
}

.pnd-dashboard-panel {
    top: 0px;
    bottom: @footer-height;
    position : absolute;
}

.pnd-dashboard-panel-lists{
    background-color: red;
}
.pnd-dashboard-panel-tools{
    background-color: blue;
}
.pnd-dashboard-panel-details{
    background-color: green;
}

.pnd-dashboard-panel-cards {
    width : 100%;
    height : 20%;
}
.pnd-dashboard-panel-content {
    width : 100%;
    height : 80%;
}

.pnd-dashboard-separator {
    position : absolute;
    background-color: grey;
    width: @separator-width;
}
.pnd-dashboard-footer {
    width : 100%;
    position : absolute;
    background-color: grey;
    bottom: 0px;
    height: @footer-height;
}