.pnd-dashboard-container {
    position : fixed;
    top: @toolbar-height;
    overflow: hidden;
    z-index: 100;
}

.pnd-dashboard-panel {
    top: 0px;
    position : absolute;    

}

.pnd-dashboard-panel-expanded {
    width: 100%;
    height: 100%;
    
}

.pnd-dashboard-panel-collapsed {
    height: 100%;
}


// ---------- BUTTON

.pnd-dashboard-panel.pnd-dashboard-panel-last button {
    right: 0px;
}

.pnd-dashboard-panel button {
    position: absolute;
    z-index: 1;
    right: 8px;
    
    &.btn-xs  {
    	border: 0px;
    	padding-top: 2px;
    	text-shadow: 0 1px 0 #fff;
    	width: 20px;
    	
    	&:hover {
	       background-color: #fff;
	       color: @brand-danger;
	    }
	    
	   .pnd-icon {
	       font-size: 12px;
	       line-height: normal;
	       padding: 0px;
	   }
    }  
}

.pnd-dashboard-panel-nav {
    width : 100%;
    height : 20%;
}
.pnd-dashboard-panel-content {
    width : 100%;
    height : 100%;
    background-color: #fff;
          border-top: 4px solid @gray-light;
}
.pnd-dashboard-panel-collapsed-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.pnd-dashboard-panel-separator {
    position: absolute;
    right: 0px;
    width: 8px;
    background: @gray-light;
    top: 0px;
    height: 100%;
    background-image: url(img/bg-dashboard-panel-separator.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    cursor: col-resize; 
}

.pnd-dashboard-footer {
    width : 100%;
    position : absolute;
    background-color: @gray-light;
    bottom: 0px;
}