
//
// ITEM ROLLOVER
// --------------------------------------------------


.pnd-item {
	    white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	transition: margin-left 250ms 150ms linear;
    	margin-left: -55px;
    	padding: 4px 8px;
    	border-bottom: 1px solid @gray-extra-light;
    	     	   	
	    &:hover {
	    	transition: margin-left 250ms 150ms linear;
	    	margin-left: 0px; 
	    	background-color: @gray-lighter;
	    	
	    	    .pnd-item-typeLabel {
		    	   // background-color: #fff;
		    	    }
	    	}
    	
    .pnd-item-buttons {
	 	margin-right: 7px;
	 	display: inline;
	 	float: left;
	    }
	

    .pnd-item-text {
	    display: inline;
	    
	    .pnd-icon {
			font-size: 14px;
			vertical-align: middle;
			margin-left: 5px;
			color: @brand-success;
			
				&.pnd-icon-lock {
					color: @brand-warning;
					}
					
				&.pnd-icon-group {
					color: @gray-dark;
					}
			}

    }

    .pnd-item-label {
	    display: inline;
	    font-weight: bold;
    	}

    .pnd-item-typeLabel {
		display: inline-block;
		background-color: @gray-lighter;
		padding: 2px 5px 3px 5px;
		//width: 9em;
		}
	    
   // Sticky item

	&.pnd-sticky-item {
		margin-left: 0px;
		background-color:@brand-success; 
		color: #fff;
		
		    .pnd-item-label {
			    font-weight: bold;
			    }
		
		    .pnd-item-typeLabel {
				background-color: transparent;
				padding: 2px 5px 3px 5px;
				width: auto;
				}
		
		&:hover {    	
				.pnd-item-buttons {
		     		-webkit-animation-name: none !important;
		    		}
		    	}
		    	
		.pnd-icon {
			color: #fff;
			}
			
	
		.pnd-icon-thumb-tack{
			color: #fff;
			}
			
	    }
	    
}


