
//
// ITEM ROLLOVER
// --------------------------------------------------




.pnd-item {
	    white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	transition: margin-left 250ms 150ms linear;
    	margin-left: -55px;
	     	   	
	    &:hover {
	    	transition: margin-left 250ms 150ms linear;
	    	margin-left: 0px;  
	    	}
    	
    .pnd-item-buttons {
	 	margin-right: 7px;
	 	display: inline;
	 	float: left;
	    }
	

    .pnd-item-text {
	    display: inline;
    }

	    
   // Sticky item

	&.pnd-sticky-item {
		margin-left: 0px; 
		
		&:hover {    	
				.pnd-item-buttons {
		     		-webkit-animation-name: none !important;
		    		}
		    	}
	
		.pnd-icon-thumb-tack{
			color: @brand-warning;
			}
			
	    }
	    
}

