
//
// Modal
// --------------------------------------------------


.modal-dialog {

	.kee-modal-body {
		padding: 10px 0px 0px 0px;
		overflow-y: hidden;
	}
	
}

//
// Search
// --------------------------------------------------

.kee-search {
	background-color: darken(@gray-lighter, 10%);
	padding: 8px;
	
	input {
		width: 90% !important;
	}
}

//
// Columns
// --------------------------------------------------

.pnd-vertical-tabs  {
	height: 400px!important;
}


.pnd-vertical-tab-list-content {
	width: 200px;
	height: 400px;
}

.pnd-preview {
	width: 230px;
	height: 400px;
	background-color: @gray-lighter;
	display: inline-block;
}

//
// Input and icon
// --------------------------------------------------


.left-inner-icon {
  position: relative;
  padding: 0px;
}

.left-inner-icon input {
  padding-right: 20px;
  font-weight: normal;
}

.left-inner-icon .pnd-icon {
  position: absolute;
  color: @gray-light;
  right: 0px;
  top: 0px;
  padding: 7px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.kee-input-error-server{
  background-color: red !important;
  opacity: 0.5 !important;
}

.kee-autocomplete-list{

}

//
// Resource panel
// --------------------------------------------------



  	.pnd-item {
    	transition: margin-left 250ms 150ms linear;
    	margin-left: -30px;
    	
    	&:hover {
	    	transition: margin-left 250ms 150ms linear;
	    	margin-left: 0px; 
	    	}
    	}
			
	.pnd-item-buttons {
		
		.pnd-icon-check {
			color: @brand-success;
			}
		}
	
	.list-group-item {
		overflow: hidden;
		}
	
	.pnd-resource-panel-popover-content {
		overflow-y: scroll;
		}
		
	.pnd-vertical-tabs  {
		height: 200px;
		}

	.pnd-vertical-tab-list-content {
		height: 200px;
		overflow-y: auto;
		padding-top: 8px;
		}

	.pnd-vertical-tab-footer-content {
		display: block;
		border-top: 1px solid @gray-light;
		background-color: #fff;
		height: 30px;
		padding: 5px;
		position: absolute;
		bottom: 0;
		right: 0px;
		left: 0;
		}
		
	.pnd-vertical-tab-header-content{
		display: block;
		border-bottom: 1px solid @gray-light;
		background-color: #fff;
		height: 30px;
		padding: 5px;
		}


.pnd-popover-literal {
	  position: fixed !important;
	  }

.pnd-popover-calendar {
	  position: fixed !important;
	  }

