	//
	// Notebook
	// --------------------------------------------------
		

.pnd-notebook-composer-container {
	margin: 10px;
	

	.pnd-icon {
		font-size: 14px;
		width: 18px;
		display: inline-block;
		text-align: center;
		vertical-align: text-top;
		}
		
	input[type="text"] {
		margin: 10px 0px 20px 0px;
		width: 50%;
		}
		
	input[type="radio"],
	input[type="checkbox"] {
		margin: 0px;
		padding: 0px;
		}
	  
	.radio + .radio,
	.checkbox + .checkbox {
		margin-top: 10px;
		}
		  
	.radio,
	.checkbox {
	 
		&:hover {
			color: @brand-success;
			}
			
		&:active,
		&:focus {
			color: @brand-success;
			}

	}
			
}
	
	    	
	
	
	
	