	//
	// Notebook
	// --------------------------------------------------
		

.pnd-notebook-composer-container {
	margin: 10px 18px 10px 10px;
	

	.pnd-icon {
		font-size: 14px;
		width: 18px;
		display: inline-block;
		text-align: center;
		vertical-align: text-top;
		}
		
	input[type="text"] {
		margin: 10px 0px 20px 0px;
		width: 100%;
		}
		
	input[type="radio"],
	input[type="checkbox"] {
		margin: 0px;
		margin-left: -18px !important;
		padding: 0px;
		}
	  
	.radio + .radio,
	.checkbox + .checkbox {
		margin-top: 0px;
		}
		
	.radio {
		display: inline-block;
		}
		
	.checkbox {
		margin: 5px 0px 5px 0px;
		}
		
	.radio,
	.checkbox {
		margin-right: 3px;
			
		&.pnd-notebook-composer-element-active {
			color: @brand-success;
			}


	}
			
}
	
	    	
	
	
	
	