.pnd-tab-content  {
    padding: 0px;
    }
    
//
// Header
// --------------------------------------------------

.pnd-panel-tab-content-header{
    margin: 10px;
         
	.left-inner-icon {
	    position: relative;
	    padding-right: 10px;
	    }
	
	.left-inner-icon input {
	    padding-right: 20px;
	    font-weight: normal;   
	    }
	    
	.left-inner-icon .pnd-icon {
	    position: absolute;
	    color: @gray-light;
	    right: 12px;
	    top: 0px;
	    padding: 7px;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    }


    // .pnd-icon-times is configured in *ItemsContainer.service.js defaults with
    // inputIconClear: 'pnd-icon-times'
    .left-inner-icon .pnd-icon.pnd-icon-times:hover {
        color:  @brand-success;
        cursor: pointer;
        }

    }

    
    
//
// Content
// --------------------------------------------------
  
.pnd-inner-scrollable  {
  		overflow-y: scroll;
  	}


.pnd-inner  {

	.pnd-tab-content {
  		margin: 0px 10px 0px 0px;
  		overflow-y: scroll;
  		}
  	}

.pnd-panel-tab-content-content {
    margin: 0px;
    
	&.pnd-inner { 
		
		.show-tabs {
			margin-right: 8px;
			}
    }
    
 }
  

    
//
// Content Tabs
// --------------------------------------------------

.pnd-panel-tab-content  {


	// Give the tabs something to sit on
	.nav-tabs {
	      margin-bottom: 5px;
	      margin-right: 0px;
	      background-color: #fff;
	      border-top: 1px solid @gray-light;
	      border-bottom: 1px solid @gray-light;
		      
	
	  > li {
	
	
	    // Actual tabs (as links)
	    > a {
		  color: @nav-tabs-active-link-hover-color;
	      margin-right: 0px;
	      line-height: @line-height-base;
	      border: 0px;
	      border-bottom: 1px solid @gray-light;
	      border-top: 2px solid transparent;
	      background-color: #fff;
	
	      
	      &:hover {
	        background-color: transparent;
	        border-bottom: 1px solid @gray-light;
	        color: #000;
	        cursor: pointer;
	      }
	      
	    }
	
	    // Active state, and its :hover to override normal :hover
	    &.active > a {
	      &,
	      &:hover,
	      &:focus {
	        border-bottom-color: transparent;
	        border-top: 2px solid @gray;
	        cursor: pointer;
	      }
	    }
	
	        
	    
	  }
	
	}
	
	// Footer
	
	.pnd-panel-tab-content-footer{
		display: block;
		border-top: 1px solid @gray-light;
		background-color: #fff;
		height: 30px;
		padding: 5px;
		position: absolute;
		bottom: 0;
		right: 10px;
		left: 0;
	}	
	
}

	// Footer Right

.pnd-dashboard-panel-last {

	.pnd-panel-tab-content-footer {
		right: 0px;
		}
	}	
