.pnd-dashboard-preview{
  //height: 200px;
  //overflow-y: scroll;
}

.pnd-dashboard-preview-clear-sticky-button {
  //float: right;
}

.pnd-preview {

	.pnd-panel-tab-content-header{
    	margin: 10px;
    	font-weight: bold;
    	font-size: 18px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	
    	.pnd-dashboard-preview-panel-heading {
	    	font-size: 16px !important;
	    	}
	    
	    .pnd-icon{
	    	font-size: 14px;
	    	color: @gray;
	    	}
	    
	    }
	    
	.pnd-dashboard-preview-item-description {
		font-size: 13px;
		}
	    
	.pnd-dashboard-preview-item-types {
		
		ul {
			padding: 10px;
			margin: 0px;
			
			li {
				float: left;
				padding: 3px 6px;
				margin: 3px;
				background-color: @gray-lighter;
				list-style: none;
				}	
			}
		
	}
	    
	    
}


.pnd-dashboard-preview-item-description,
.pnd-dashboard-preview-welcome {
    padding: 10px;
    }

.pnd-preview-item-image {
    padding: 10px 10px 5px 10px;
    float: left;

    	
    	img {
	         border: 1px solid @gray-extra-light;
	         padding: 2px;
	         }
    
    }
    
.pnd-item-image {

.pnd-preview-item-image {
    float: none;

    	
    	img {
	         max-width: 100%;
	         }
    
    }
	
}

    
    
    