.pnd-dashboard-preview{
  //height: 200px;
  //overflow-y: scroll;
}

.pnd-dashboard-preview-clear-sticky-button {
  //float: right;
}

.pnd-preview {

	.pnd-panel-tab-content-header{
    	margin: 10px;
    	font-weight: bold;
    	font-size: 18px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	    }
}


.pnd-dashboard-preview-item-description,
.pnd-dashboard-preview-welcome {
    padding: 10px;
    }

.pnd-preview-item-image {
    padding: 10px;
    float: left;
    }