.pnd-preview {

	.pnd-preview-item-description,
	.pnd-preview-welcome {
	    padding: 10px;
	    }

	.pnd-panel-tab-content-header{
    	font-weight: bold;
    	font-size: 18px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	
    	.pnd-dashboard-preview-panel-heading {
	    	font-size: 16px !important;
	    	}
	    
	    .pnd-icon{
	    	font-size: 14px;
	    	color: @gray;
	    	}
	    
	    }
	    
	    
	.pnd-preview-item-image {
	    padding: 10px 10px 5px 10px;
	    float: left;
	
	    	
	    	img {
		         border: 1px solid @gray-extra-light;
		         padding: 2px;
		         }
	    
	    }
	    
	    
	.pnd-preview-item-description {
		font-size: 13px;
    	//overflow: hidden;
    	//text-overflow: ellipsis;
		}
	    
	.pnd-preview-item-types {
			clear: both;
            overflow: hidden;
		
		ul {
			padding: 10px;
			margin: 0px;
			
			li {
				float: left;
				padding: 3px 6px;
				margin: 3px;
				background-color: @gray-lighter;
				list-style: none;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				}	
			}
		
	}
	

	&.pnd-item-image {
	
		.pnd-preview-item-image {
		    float: none;
		
		    	img {
			         max-width: 100%;
			         }
		    }
	}

	    
	    
}





    
    

    
    
    