//
// Variables of Pundit
// --------------------------------------------------


// Will be used by Toolbar and Dashboard
@toolbar-height: 30px;

// Will be used by Toolbar and Dashboard
@annotation-sidebar-coll-width: 26px;
@annotation-sidebar-exp-width: 300px;
@annotation-sidebar-filter-width: 300px;