//
// Resource panel
// --------------------------------------------------


.pnd-resource-panel-popover {
  position: fixed !important;
  max-width: 400px !important;
  width: 400px;

  	.pnd-item {
    	transition: margin-left 250ms 150ms linear;
    	margin-left: -30px;
    	
    		    &:hover {
	    	transition: margin-left 250ms 150ms linear;
	    	margin-left: 0px; 
	    	}
    	}
			
	.pnd-item-buttons {
		
		.pnd-icon-check {
			color: @brand-success;
			}
		}
	
	.list-group-item {
		overflow: hidden;
		}
	
	.pnd-resource-panel-popover-content {
		overflow-y: scroll;
		}
		
	.pnd-vertical-tabs  {
		height: 200px;
		}

	.pnd-vertical-tab-list-content {
		height: 200px;
		overflow-y: auto;
		}

	.pnd-vertical-tab-footer-content {
		display: block;
		border-top: 1px solid @gray-light;
		background-color: #fff;
		height: 30px;
		padding: 5px;
		position: absolute;
		bottom: 0;
		right: 0px;
		left: 0;
		}
		
	.pnd-vertical-tab-header-content{
		display: block;
		border-bottom: 1px solid @gray-light;
		background-color: #fff;
		height: 30px;
		padding: 5px;
		}
}

.pnd-popover-literal {
	  position: fixed !important;
	  }

.pnd-popover-calendar {
	  position: fixed !important;
	  }

