.pnd-toolbar-active-element {
    color: white;
}

.pnd-toolbar-not-active-element {
    color: gray;
}

.pnd-toolbar-ask-button-active {
    background-color: green;
}

.pnd-toolbar-ask-button-not-active {
    background-color: gray;
}

.pnd-toolbar-status-ok-icon {
    color: green;
}

.pnd-toolbar-error-icon {
    color: orange;
}

.pnd-toolbar-navbar{
    min-width: 960px;
}