.pnd-statement-row {

    .pnd-statement-subject,
    .pnd-statement-object,
    .pnd-statement-predicate {
        padding: 2px;
        display: inline;
        width: 30%;
        float: left;
    }
    .pnd-statement-buttons {
        float: left;
        display: inline;
        width: 20px;
    }

    .pnd-statement-subject,
    .pnd-statement-object {
        background-color: #0071BC;
    }
    .pnd-statement-predicate {
        background-color: #e07400;
    }


}