.pnd-statement-row {
    
    .pnd-statement-subject,
    .pnd-statement-object,
    .pnd-statement-predicate {
        display: inline;
        width: 30%;
        float: left;
    }
    .pnd-statement-buttons {
        float: left;
        display: inline;
        width: 20px;
    }

}