/node_modules
/bower_components

.tmp
/build/
.DS_Store
/coverage/

/app/examples/*.html

.idea
/app/src/templates.js
/app/src/korboee-template.js
/app/css/pundit2.css
/app/css/korboee.css
/app/css/style.css
/app/css/fonts
/app/css/img

/app/src/Core/info.modal.tmpl.html
