.ann-auto.ann-hidden {
  background-color: inherit !important;
}
.ann-auto:not(.ann-hidden) {
  cursor: pointer;
}
.ann-auto:not(.ann-hidden):hover {
  border-bottom: 1px solid red;
}
.ann-auto:not(.ann-hidden).ann-waiting {
  background-color: #fc0;
}
.ann-auto:not(.ann-hidden).ann-active {
  background-color: #4bd;
}
.ann-auto:not(.ann-hidden).ann-ok {
  background-color: #3f3;
}
.ann-auto:not(.ann-hidden).ann-removed {
  border: 1px dashed red;
}
.selecting {
  outline: 2px solid rgba(255, 0, 0, 0.5);
}
.selecting-ancestor {
  outline: 4px solid rgba(0, 255, 0, 0.5);
}
