<div class="pnd-item" ng-class="{'pnd-sticky-item': isSticky()}" ng-mouseover="onItemMouseOver()" ng-mouseleave="onItemMouseLeave()">

    <div class="pnd-item-buttons">
        <button type="button" ng-click="onClickMenu($event)" class="btn btn-xs btn-link" title="Options"><span class="pnd-icon pnd-icon-bars"></span></button>
        <button type="button" ng-click="onClickSticky($event)" class="btn btn-xs btn-link" title="Sticky"><span class="pnd-icon pnd-icon-thumb-tack"></span></button>
    </div>

    <div class="pnd-item-text">
    	<span ng-show="item.type.length > 0" class="pnd-item-typeLabel">{{itemTypeLabel}}</span>
        <span class="pnd-item-label">{{item.label}}</span>
        
    </div>

</div>