<div 
    class="pnd-item" 
    ng-class="{'pnd-sticky-item': isSticky()}" 
    ng-mouseover="onItemMouseOver()" 
    ng-mouseleave="onItemMouseLeave()">
    
    <div class="pnd-item-buttons">
        <button 
            type="button" 
            class="btn btn-xs btn-link pnd-btn-bar" 
            title="Options"
            ng-hide="hideOptions" 
            ng-click="onClickMenu($event)">
            <span class="pnd-icon pnd-icon-bars"></span>
        </button>
        <button 
            type="button" 
            class="btn btn-xs btn-link pnd-btn-stick" 
            title="Sticky"
            ng-hide="hideStickyButton" 
            ng-click="onClickSticky($event)">
            <span class="pnd-icon pnd-icon-thumb-tack"></span>
        </button>
        
        <span ng-if="isSelected" class="pnd-icon pnd-icon-check"></span>
    </div>

    <div class="pnd-item-text">
        <span 
            class="pnd-item-typeLabel"
            ng-show="item.type.length > 0">
            {{itemTypeLabel}}
        </span>
        <span class="pnd-item-label">
            {{item.label}}
        </span>
    </div>

</div>