<div 
    class="pnd-item" 
    ng-class="{'pnd-sticky-item': isSticky() && forceSticky}"
    ng-click="setStickInForceMode()"
    ng-mouseover="onItemMouseOver()" 
    ng-mouseleave="onItemMouseLeave()">

    <div class="pnd-item-buttons">
        <button type="button" ng-click="onClickMenu($event)" class="btn btn-xs btn-link" title="Options"><span class="pnd-icon pnd-icon-bars"></span></button>
        <button type="button" ng-click="onClickSticky($event)" ng-hide="hideStickyButton" class="btn btn-xs btn-link" title="Sticky"><span class="pnd-icon pnd-icon-thumb-tack"></span></button>
    </div>

    <div class="pnd-item-text">
        <!-- <span class="pnd-item-typeLabel">{{notebook.visibility}}</span> -->
        <span ng-if="!notebook.isPublic()" class="pnd-icon pnd-icon-lock"  title="Private"></span>
        <span ng-if="notebook.isPublic()" class="pnd-icon pnd-icon-group" title="Public"></span> 
        <span ng-if="notebook.isCurrent()" class="pnd-icon pnd-icon-pencil-square" title="Current"></span>   
        <span class="pnd-item-label">{{notebook.label}}</span>
    </div>

</div>