<div class="popover pnd-popover-literal">
    <div class="arrow"></div>
    
    <h3 class="popover-title">
        Write your comment
    </h3>
    
    <div class="popover-content">
	    <div class="form-group">
		    <textarea 
                class="form-control pnd-popover-literal-textarea" 
                rows="6" 
                ng-model="literalText" 
                ng-keyup="escapeEvent($event)"></textarea>
		</div>
    </div>

    <div class="popover-footer">
	    <button 
            class="btn btn-sm btn-success pnd-btn-full"
            ng-class="{disabled: literalText == ''}" 
            ng-click="save()">
            Save
        </button>
	    <button 
            class="btn btn-sm btn-info pnd-btn-full"
            ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>