<ul class="nav nav-tabs pnd-vertical-tabs">
  <li ng-repeat="pane in contentTabs" ng-class="{active: $index == active}" >
    <a data-toggle="tab" ng-click="setActive($index, $event)" data-index="{{$index}}" ng-show="pane.title != 'My Items' || (pane.title == 'My Items' && userLoggedIn)">
        {{pane.title}} ({{pane.items.length}})
    </a>
  </li>
</ul>
<div>
    <div class="pnd-vertical-tab-content tab-content">
        <div class="pnd-vertical-tab-header-content">
            Choose your...
            <span class="pnd-icon-times" ng-click="cancel()"></span>
        </div>
        <div ng-repeat="pane in contentTabs" class="tab-pane pnd-vertical-tab-list-content" ng-class="[$index == active ? 'active' : '']">
            <li class="list-group-item" ng-repeat="mi in contentTabs[$index].items | orderBy:getOrderProperty" >
                <item uri="{{mi.uri}}" is-selected="{{isSelected(mi)}}" ng-click="select(mi)" ></item>
            </li>
        </div>
        <div class="pnd-vertical-tab-footer-content">
            <button class="pnd-resource-panel-use-button btn btn-xs btn-success" ng-class="{'disabled': !isUseActive}" ng-click="save(itemSelected)">Use</button>
            <button class="pnd-resource-panel-copy-button btn btn-xs btn-success disabled">Copy and Use</button>
            <button class="pnd-resource-panel-new-button btn btn-xs btn-success disabled">Create New</button>
        </div>
    </div>
</div>

