<div class="pnd-item" ng-class="{'pnd-sticky-item': isSticky()}" ng-mouseover="onItemMouseOver()" ng-mouseleave="onItemMouseLeave()">

    <div class="pnd-item-buttons">
        <button type="button" ng-click="onClickMenu($event)" class="btn btn-xs btn-link"><span class="pnd-icon pnd-icon-bars"></span></button>
        <button type="button" ng-click="onClickSticky($event)" class="btn btn-xs btn-link"><span class="pnd-icon pnd-icon-thumb-tack"></span></button>
    </div>

    <div class="pnd-item-text">
            <span class="pnd-item-typeLabel">{{notebook.visibility}}</span>
        <span ng-if="notebook.isCurrent()" class="pnd-icon pnd-icon-pencil-square"></span>    
        <span class="pnd-item-label">{{notebook.label}}</span>

    </div>

</div>