<div 
    class="pnd-annotation-details-wrap pnd-ignore">
    <div class="pnd-annotation-details-header pnd-annotation-details-top" 
        ng-click="toggleAnnotation()"
        ng-class="{'pnd-annotation-details-broken': annotation.broken, 'pnd-annotation-details-ghosted': annotation.ghosted}"
        ng-mouseover="mouseoverHandler()"
        ng-mouseout="mouseoutHandler()">
        <div class="{{annotation.mainItem.class}}">
		        <div class="pnd-annotation-item-header-text">
                        <span ng-show="annotation.broken" class="pnd-icon pnd-icon-exclamation-circle"></span>
		                <span class="pnd-annotation-icon-color" style="background-color: {{annotation.color}};"><span class="{{annotation.mainItem.icon}}"></span></span>
		                <span class="pnd-item-title">{{annotation.mainItem.label}}</span>
		        </div>    
                <button type="button" class="btn pull-right">
                    <span ng-class="{true:'pnd-icon-caret-up', false:'pnd-icon-sort-down'}[annotation.expanded]"></span>
                </button>
        </div>
    </div>
    <div class="pnd-annotation-details-container" ng-if="annotation.expanded">

        <div class="pnd-annotation-details-menu">
            <div class="{{annotation.mainItem.class}}">
                <button type="button" class="btn btn-primary" ng-click="metaInfo = !metaInfo">
                    <span class="pnd-icon-exclamation-circle"></span>
                    Meta
                </button><button type="button" class="btn btn-primary" disabled>
                    <span class="pnd-icon-mail-forward"></span>
                    Reply
                </button><button type="button" class="btn btn-primary" disabled>
                    <span class="pnd-icon-share-square-o"></span>
                    Share
                </button>
            </div>
        </div>

        <div class="pnd-annotation-details-info" ng-show="metaInfo">
            <div class="pnd-annotation-details-info-author">
                <strong>Author:</strong> {{annotation.creatorName}}
            </div>
            <div class="pnd-annotation-details-info-date">
                <strong>Date:</strong> {{annotation.created | date : 'MMM d, y H:mm a'}}
            </div>       
            <div class="pnd-annotation-details-info-notebook">
                <strong>Notebook:</strong> <a href="{{askLink}}{{annotation.notebookId}}" target="_blank">
                    {{notebookName}}
                </a>
            </div>       
        </div>
        
        <div class="pnd-annotation-details-content">
            <div class="pnd-annotation-detains-item" ng-repeat="item in annotation.itemsArray">
            <!-- subject -->
                <div 
                    class="pnd-annotation-details-subject" 
                    ng-init="subInfo = false"
                    ng-mouseover="mouseoverItemHandler(item.subject.uri)"
                    ng-mouseout="mouseoutItemHandler(item.subject.uri)">
                        <div 
                            class="pnd-annotation-details-item-header" 
                            ng-click="subInfo = !subInfo"
                            ng-class="{'pnd-annotation-details-sub-open': subInfo}">
                            <!-- <span class="{{item.subject.icon}}"></span> -->
                            <div class="pnd-annotation-item-header-text">
	                            <span class="pnd-icon pnd-icon-circle"></span>
	                            <span ng-bind-html="item.subject.label">{{item.subject.label}}</span>
                            </div>
                            <button type="button" class="btn btn-link pull-right">
                                <span ng-class="{true:'pnd-icon-caret-up', false:'pnd-icon-sort-down'}[subInfo]"></span>
                            </button>
                        </div>

                        <div ng-show="subInfo" class="pnd-sub-info">
                            <span ng-if="subInfo">
                                <item-preview uri="{{item.subject.uri}}" sticking="false"></item-preview>
                            </span>
                        </div>
                </div>
             <!-- // end subject -->
             <!-- predicate -->
                <div 
                    class="pnd-annotation-details-predicate" 
                    ng-init="preInfo = false">
                        <div 
                            class="pnd-annotation-details-item-header" 
                            ng-click="preInfo = !preInfo"
                            ng-class="{'pnd-annotation-details-sub-open': preInfo}">
                        	<div class="pnd-annotation-item-header-text">
    	                    	<span class="pnd-icon pnd-icon-circle"></span>
    	                    	<span ng-bind-html="item.predicate.label">{{item.predicate.label}}</span>
                        	</div>
                            <button type="button" class="btn  btn-link pull-right">
                                <span ng-class="{true:'pnd-icon-caret-up', false:'pnd-icon-sort-down'}[preInfo]"></span>
                            </button>
                        </div>

                        <div ng-show="preInfo" class="pnd-sub-info">
                            <span ng-if="preInfo">
                                <item-preview uri="{{item.predicate.uri}}" sticking="false"></item-preview>
                            </span>
                        </div>
                </div>
             <!-- // end predicate -->
             <!-- // object -->
                <div ng-repeat="object in item.objects">
                    <div 
                        class="pnd-annotation-details-object"                         
                        ng-init="objInfo = false"
                        ng-mouseover="mouseoverItemHandler(object.uri)"
                        ng-mouseout="mouseoutItemHandler(object.uri)">
                            <div 
                                class="pnd-annotation-details-item-header" 
                                ng-click="objInfo = !objInfo"
                                ng-class="{'pnd-annotation-details-sub-open': objInfo}">
                                <!-- <span class="{{object.icon}}"></span> -->
                                <div class="pnd-annotation-item-header-text">
	                                <span class="pnd-icon pnd-icon-circle"></span>
	                                <span ng-bind-html="object.label">{{object.label}}</span>
                                </div>
                                <button type="button" class="btn  btn-link pull-right">
                                        <span ng-class="{true:'pnd-icon-caret-up', false:'pnd-icon-sort-down'}[objInfo]"></span>
                                </button>
                            </div>
                            <div ng-show="objInfo" class="pnd-sub-info">
                                <span ng-if="objInfo">
                                    <span ng-if="object.typeClass=='uri'">
                                        <item-preview class="pnd-preview clearfix" uri="{{object.uri}}" sticking="false"></item-preview>
                                    </span>
                                    <span ng-if="object.typeClass!='uri'">
                                        <span ng-bind-html="object.label">{{object.label}}</span>
                                    </span>
                                </span>
                            </div>
                    </div>
                </div>
             <!-- // end object -->
            </div>    
        </div>
        <!-- footer -->
        <div class="pnd-annotation-details-footer" ng-show="isUserToolShowed()">
            <button type="button" ng-if="showEdit()" class="btn btn-xs btn-success" ng-click="editAnnotation()">Edit</button>
            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteAnnotation()">Delete</button>
        </div>
        <!-- // end footer -->
    </div>
</div>