<div class="pnd-annotation-details">
    <div class="pnd-annotation-details-header pnd-annotation-details-top" 
        ng-click="toggleAnnotation()"
        ng-class="{'pnd-annotation-details-broken': annotation.broken}">
        <div class="{{annotation.mainItem.class}}">
		        <div class="pnd-annotation-item-header-text">
		                <span class="{{annotation.mainItem.icon}}"></span>
		                <span>{{annotation.mainItem.label}}</span>
		        </div>    
                <button type="button" class="btn  pull-right">
                    <span ng-class="{true:'pnd-icon-sort-up', false:'pnd-icon-sort-down'}[annotation.expanded]"></span>
                </button>
        </div>
    </div>

    <div class="pnd-annotation-details-container" ng-if="annotation.expanded">

        <div class="pnd-annotation-details-menu">
            <div class="{{annotation.mainItem.class}}">
                <button type="button" class="btn btn-primary" ng-click="metaInfo = !metaInfo">
                    <span class="pnd-icon-exclamation-circle"></span>
                    Meta
                </button><button type="button" class="btn btn-primary">
                    <span class="pnd-icon-mail-forward"></span>
                    Reply
                </button><button type="button" class="btn btn-primary">
                    <span class="pnd-icon-share-square-o"></span>
                    Share
                </button>
            </div>
        </div>

        <div class="pnd-annotation-details-info" ng-show="metaInfo">
            <div class="pnd-annotation-details-info-author">
                Author: {{annotation.creatorName}}
            </div>
            <div class="pnd-annotation-details-info-date">
                Date: {{annotation.created | date : 'MMM d, y H:mm a'}}
            </div>       
            <div class="pnd-annotation-details-info-notebook">
                Notebook: 
                <a href="{{askLink}}{{annotation.notebookId}}" target="_blank">
                    {{notebookName}}
                </a>
            </div>       
        </div>
        
        <div class="pnd-annotation-details-content">
            <div class="pnd-annotation-detains-item" ng-repeat="item in annotation.itemsArray">
            <!-- subject -->
                <div 
                    class="pnd-annotation-details-subject" 
                    ng-init="subInfo = false">
                        <div 
                            class="pnd-annotation-details-item-header" 
                            ng-click="subInfo = !subInfo"
                            ng-class="{'pnd-annotation-details-sub-open': subInfo}">
                            <!-- <span class="{{item.subject.icon}}"></span> -->
                            <div class="pnd-annotation-item-header-text">
	                            <span class="pnd-icon pnd-icon-certificate"></span>
	                            <span ng-bind-html="item.subject.label">{{item.subject.label}}</span> ({{item.subject.typeLabel}})
                            </div>
                            <button type="button" class="btn btn-link pull-right">
                                <span ng-class="{true:'pnd-icon-sort-up', false:'pnd-icon-sort-down'}[subInfo]"></span>
                            </button>
                        </div>

                        <div ng-show="subInfo" class="pnd-sub-info">
                            <item-preview uri="{{item.subject.uri}}"></item-preview>
                        </div>
                </div>
             <!-- // end subject -->
             <!-- predicate -->
                <div 
                    class="pnd-annotation-details-predicate" 
                    ng-init="preInfo = false">
                        <div 
                            class="pnd-annotation-details-item-header" 
                            ng-click="preInfo = !preInfo"
                            ng-class="{'pnd-annotation-details-sub-open': preInfo}">
                        	<div class="pnd-annotation-item-header-text">
    	                    	<span class="pnd-icon pnd-icon-certificate"></span>
    	                    	<span ng-bind-html="item.predicate.label">{{item.predicate.label}}</span>
                        	</div>
                            <button type="button" class="btn  btn-link pull-right">
                                <span ng-class="{true:'pnd-icon-sort-up', false:'pnd-icon-sort-down'}[preInfo]"></span>
                            </button>
                        </div>

                        <div ng-show="preInfo"  class="pnd-sub-info">
                            <item-preview uri="{{item.predicate.uri}}"></item-preview>
                        </div>
                </div>
             <!-- // end predicate -->
             <!-- // object -->
                <div ng-repeat="object in item.objects">
                    <div 
                        class="pnd-annotation-details-object"                         
                        ng-init="objInfo = false">
                            <div 
                                class="pnd-annotation-details-item-header" 
                                ng-click="objInfo = toggleObjectInfo(object.typeClass, objInfo)"
                                ng-class="{'pnd-annotation-details-sub-open': objInfo}">
                                <!-- <span class="{{object.icon}}"></span> -->
                                <div class="pnd-annotation-item-header-text">
	                                <span class="pnd-icon pnd-icon-certificate"></span>
	                                <span ng-bind-html="object.label">{{object.label}}</span>
	                                 ({{object.typeLabel}})
                                </div>
                                <button type="button" class="btn  btn-link pull-right" ng-if="object.typeClass=='uri'">
                                        <span ng-class="{true:'pnd-icon-sort-up', false:'pnd-icon-sort-down'}[objInfo]"></span>
                                </button>
                            </div>
                            <div ng-show="objInfo" class="pnd-sub-info">
                                <item-preview class="pnd-preview clearfix" uri="{{object.uri}}"></item-preview>
                            </div>
                    </div>
                </div>
             <!-- // end object -->
            </div>    
        </div>
        <!-- footer -->
        <div class="pnd-annotation-details-footer" ng-show="isUserToolShowed()">
            <button type="button" class="btn btn-xs btn-success">Edit</button>
            <button type="button" class="btn btn-xs btn-danger">Delete</button>
        </div>
        <!-- // end footer -->
    </div>
</div>