<div class="pnd-annotation-sidebar-container">
    <div class="pnd-annotation-sidebar-content" ng-show="isAnnotationSidebarExpanded">
        <button>Annotations</button>
        <button>Suggestions</button>
        <br /><hr />
        Filtri attivi <br />
        <p ng-repeat="(key, value) in filters">
            <span ng-show="value.length>0">{{key}} - {{value}}</span> <br />
        </p>
        <br /><hr />
        Search: <input ng-model="filters.authorOLD">
        <br />
        <br />
        fromDate: <input ng-model="filters.fromDate">
        <br />
        toDate: <input ng-model="filters.toDate">
        <br /><br />
        Numero filtrate: {{filtered.length}}
        <br /><hr />
        Autori:

        <div ng-repeat="auth in authors">
            <span>{{auth}}</span>
            <button class="btn btn-info" ng-click="toggleAuthor(auth)">v</button>
        </div>


        <br /><hr />
        <p ng-repeat="ann in filtered = (annotations)">
            <span>Created by: {{ann.creatorName}}</span> <br />
            <span>On: {{ann.created | date : 'MMM d, y H:mm a'}}</span> <br />
        </p>  
    </div>
</div>