<div class="pnd-annotation-sidebar-container">
    <div class="pnd-annotation-sidebar-content" ng-show="isAnnotationSidebarExpanded">
        <div 
            ng-click="annotationSidebar.toggleFilters()" 
            ng-show="!isFiltersShowed"
            class="pnd-annotation-sidebar-btn-show-filter">
                Show Filter
        </div>
        <br />
        <div ng-show="annotationSidebar.needToFilter() && !isFiltersShowed">
            {{annotations.length}}/{{allAnnotations.length}} Annotations    
            <a href="#" ng-click="annotationSidebar.resetFilters()">Remove all filters</a>
        </div>
        <br />
        <div class="pnd-annotation-sidebar-filters-container" ng-show="isFiltersShowed">
            <button>Suggestions</button>
            <button>Annotations ({{annotations.length}}/{{allAnnotations.length}})</button>

            <br />

            <!-- Free text -->
            <div class="pnd-annotation-sidebar-filter" ng-mouseleave="hideFilter($event)">
                <strong ng-click = "showFilter($event)">Free text</strong>
                <div 
                    class="pnd-annotation-sidebar-filter-input"
                    ng-class="{
                        'pnd-annotation-sidebar-current-filter-active': 
                            annotationSidebar.filters.freeText.expression.length>0
                        }">
                    <input ng-model="annotationSidebar.filters.freeText.expression">
                </div>
            </div>

            <!-- Authors -->
            <div class="pnd-annotation-sidebar-filter" ng-mouseleave="hideFilter($event)">
                <strong ng-click = "showFilter($event)">Annotation author</strong>
                <div class="pnd-annotation-sidebar-filter-input">
                    <input ng-model="searchAuthors" placeholder="Search">
                </div>
                <div 
                    ng-repeat="elem in authors | orderObjectBy:'count':'dsc' | filter:searchAuthors" 
                    ng-class="{'pnd-annotation-sidebar-current-filter-active': elem.active}"
                    class="pnd-annotation-sidebar-filter-element">
                        <div 
                            class="pnd-annotation-sidebar-filter-element-label"
                            ng-click="toggleFilter('authors',elem.uri)">
                                - {{elem.label}} ({{elem.count}}) 
                                <span 
                                    class="pnd-annotation-sidebar-filter-element-x"
                                    ng-show="elem.active">x</span>
                        </div>
                </div>
            </div>

            <!-- Types -->
            <div class="pnd-annotation-sidebar-filter" ng-mouseleave="hideFilter($event)">
                <strong ng-click = "showFilter($event)">Types</strong>
                <div class="pnd-annotation-sidebar-filter-input">
                    <input ng-model="searchTypes" placeholder="Search">
                </div>
                <div 
                    ng-repeat="elem in types | orderObjectBy:'count':'dsc' | filter:searchTypes" 
                    ng-class="{'pnd-annotation-sidebar-current-filter-active': elem.active}"
                    class="pnd-annotation-sidebar-filter-element">
                        <div 
                            class="pnd-annotation-sidebar-filter-element-label"
                            ng-click="toggleFilter('types',elem.uri)">
                                - {{elem.label}} ({{elem.count}}) 
                                <span 
                                    class="pnd-annotation-sidebar-filter-element-x"
                                    ng-show="elem.active">x</span>
                        </div>
                </div>
            </div>

            <!-- Used predicate -->
            <div class="pnd-annotation-sidebar-filter" ng-mouseleave="hideFilter($event)">
                <strong ng-click = "showFilter($event)">Used predicate</strong>
                <div class="pnd-annotation-sidebar-filter-input">
                    <input ng-model="searchPredicates" placeholder="Search">
                </div>
                <div 
                    ng-repeat="elem in predicates | orderObjectBy:'count':'dsc' | filter:searchPredicates" 
                    ng-class="{'pnd-annotation-sidebar-current-filter-active': elem.active}"
                    class="pnd-annotation-sidebar-filter-element">
                        <div 
                            class="pnd-annotation-sidebar-filter-element-label"
                            ng-click="toggleFilter('predicates',elem.uri)">
                                - {{elem.label}} ({{elem.count}}) 
                                <span 
                                    class="pnd-annotation-sidebar-filter-element-x"
                                    ng-show="elem.active">x</span>
                        </div>
                </div>
            </div>

            <!-- Used predicate -->
            <div class="pnd-annotation-sidebar-filter" ng-mouseleave="hideFilter($event)">
                <strong ng-click = "showFilter($event)">Entities</strong>
                <div class="pnd-annotation-sidebar-filter-input">
                    <input ng-model="searchEntities.label" placeholder="Search">
                </div>
                <div 
                    ng-repeat="elem in entities | orderObjectBy:'count':'dsc' | filter:searchEntities" 
                    ng-class="{'pnd-annotation-sidebar-current-filter-active': elem.active}"
                    class="pnd-annotation-sidebar-filter-element">
                        <div 
                            class="pnd-annotation-sidebar-filter-element-label"
                            ng-click="toggleFilter('entities',elem.uri)">
                                - {{elem.label}} ({{elem.count}}) 
                                <span 
                                    class="pnd-annotation-sidebar-filter-element-x"
                                    ng-show="elem.active">x</span>
                        </div>
                </div>
            </div>

            <!-- Date -->
            <div class="pnd-annotation-sidebar-filter" ng-mouseleave="hideFilter($event)">
                <strong ng-click = "showFilter($event)">Date</strong>
                <div 
                    class="pnd-annotation-sidebar-filter-input"
                    ng-class="{
                        'pnd-annotation-sidebar-current-filter-active': 
                            annotationSidebar.filters.fromDate.expression.length>0
                            ||
                            annotationSidebar.filters.toDate.expression.length>0
                        }"
                >
                    <!-- From Date -->
                    <input 
                        type="text" 
                        class="form-control" 
                        ng-model="annotationSidebar.filters.fromDate.expression" 
                        data-min-date="{{fromMinDate}}" 
                        data-max-date="{{fromMaxDate}}" 
                        placeholder="From" 
                        data-autoclose="1" 
                        data-date-type="string" 
                        data-date-format="yyyy-MM-dd" 
                        bs-datepicker
                    >

                    <!-- To Date -->
                    <input 
                        type="text" 
                        class="form-control" 
                        ng-model="annotationSidebar.filters.toDate.expression" 
                        data-min-date="{{toMinDate}}" 
                        data-max-date="{{toMaxDate}}" 
                        placeholder="To" 
                        data-autoclose="1" 
                        data-date-type="string" 
                        data-date-format="yyyy-MM-dd" 
                        bs-datepicker
                    >
                    </div>
            </div>
            <br />
            <button ng-click="annotationSidebar.resetFilters()">Remove all filters</button>
            <br />
            <button ng-click="annotationSidebar.toggleFilters()">Close</button>
            <br /><hr />
        </div>
        <p ng-repeat="ann in filtered = (annotations)">
            <span>Created by: {{ann.creatorName}}</span> <br />
            <span>On: {{ann.created | date : 'MMM d, y H:mm a'}}</span> <br />
        </p>  
    </div>
</div>