<ul 
    class="list-group" 
    ng-if="!message.flag">
    <li 
        class="list-group-item" 
        ng-repeat="pndItem in displayedItems | orderBy:getOrderProperty:reverse">
        <item 
            uri="{{pndItem.uri}}" 
            menu-type="{{itemMenuType}}"
            hide-sticky-button="true"
            hide-options="true"
            is-selected="isSelected(pndItem)" 
            ng-click="select(pndItem)"></item> 
    </li>
</ul>

<div 
    class="pnd-dashboard-welcome" 
    ng-if="message.flag">
    {{message.text}}
</div>