/**
 * ANNOTATION SIDEBAR
 *
 * Style related to the sidebar on the right containing the annotations
 */

/* TODO: Code style review and chekc if some optimization is possible */


/* ------------------------------------ *\
   #MAIN-STYLE
\* ------------------------------------ */
.pnd-annotation-sidebar-container {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: @toolbar-height;
    bottom: 0;
    height: 100%;
    z-index: @zindex-pnd-annotation-sidebar;
    display: block;
    background-color: @gray-dark;
}

.pnd-annotation-sidebar-content {
    padding: 0;
}

.pnd-annotation-sidebar-container.pnd-annotation-sidebar-collapsed {
    width: @annotation-sidebar-coll-width;
}

.pnd-annotation-sidebar-container.pnd-annotation-sidebar-expanded {
    width: @annotation-sidebar-exp-width;
}

.pnd-footer-sidebar-filter {
    text-align: center;
}

.pnd-annotation-sidebar-annomatic {
    color: #FFF;
}

.pnd-saving-content {
    text-align: center;
    position: absolute;
    z-index: 99;
    background-color: @gray-dark;
    left: 0px;
    right: 0px;
    top: 32px;
    bottom: 0;
    padding-top: 40px;
    color: @gray-lighter;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;

    .pnd-icon {
        color: #fff !important;
    }
}

.pnd-annotation-sidebar-annotations {
    margin-top: 26px;
}

.pnd-annotation-details-delete-in-progress {
    opacity: 0.4;
}


/* ------------------------------------ *\
   #SIDEBAR-VIEW-SELECTION
\* ------------------------------------ */

/* Buttons for selecting Annotations or Suggestions view */

.pnd-annotation-sidebar-modes-buttons {

}



/* ------------------------------------ *\
   #FILTERS
\* ------------------------------------ */


/* ------------------------------------ *\
   #INPUT-SEARCH
\* ------------------------------------ */

.pnd-annotation-sidebar-filter-input, .pnd-annotation-sidebar-filter-input-contains {
    position: relative;

    .pnd-icon {
        position: absolute;
        color: @gray-light;
        right: 2px;
        top: 0px;
        padding: 7px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    // .pnd-icon-times is configured in *ItemsContainer.service.js defaults with
    // inputIconClear: 'pnd-icon-times'

    .pnd-icon.pnd-icon-times:hover {
        color: @brand-success;
        cursor: pointer;
    }
}

.pnd-annotation-sidebar-filter-input-contains {
    padding: 10px;

    .pnd-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 7px;
    }

}


/* ------------------------------------ *\
   #BUTTONS
\* ------------------------------------ */

.pnd-annotation-sidebar-content {

    button {

        &.pnd-btn-sidebar {
            color: @nav-tabs-active-link-hover-color;
            margin: 0px 0px 0px 0px;
            padding: 6px 0px;
            background-color: @gray-dark;
            width: 50%;
            color: @gray-light;

            &:hover,
            &:active,
            &:focus {
                background-color: #fff;
                color: @gray-dark;
            }

            &.pnd-btn-only-one {
                width: 100%;
            }

            &.pnd-active {
                background-color: #fff;
                color: @gray-dark;
            }
        }
    }

    .pnd-btn-sidebar-full {
        background-color: #EEEEEE;
        text-align: center;

        button {
            width: 100%;
        }
    }

    .pnd-annotation-details-opacity {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: 0.4;
        background-color: black;
        position: absolute;
        top: 32px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 98;
    }

    .pnd-annotation-sidebar-filter-content {
        text-align: center;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 30px;
        z-index: 99; /* TODO: Pay attention to hardcoded z-index */

        & ~ button {
            margin-top: 10px !important;
        }
    }
}

.pnd-annotation-sidebar-filters-list {
    background-color: #fff;
    text-align: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.9;

    .pnd-annotation-footer-sidebar-filter {
        padding: 5px;
        border-top: 1px solid @gray-extra-light;
        text-align: center;
    }

    .pnd-annotation-sidebar-filter {
        padding: 0px 10px;
        border-top: 1px solid @gray-extra-light;
        width: @annotation-sidebar-filter-width;
    }

    .pnd-annotation-sidebar-filter-broken {
        padding: 6px 6px 6px 10px;
        border-top: 1px solid @gray-extra-light;
        width: @annotation-sidebar-filter-width;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: @gray-lighter;
        }

        &:after {
            content: "\f06a";
            font-family: 'pundit-font';
            display: inline-block;
            float: right;
            color: @brand-warning;
        }
    }

    // ---------- PANELS
    .pnd-panel {
        font-weight: bold;
        padding: 6px 10px 6px 10px;
        margin: 0px -10px;
        cursor: pointer;

        &:hover {
            background-color: @gray-lighter;

            &:after {
                color: @brand-success;
            }
        }

        // ---------- TOGGLE ICON
        &:after {
            content: "\f0dd";
            font-family: 'pundit-font';
            display: inline-block;
            float: right;
        }
    }

    .pnd-annotation-sidebar-filter-show .pnd-panel {

        &:after {
            content: "\f0d8";
            font-family: 'pundit-font';
            display: inline-block;
            float: right;
        }
    }

    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-element {
        display: block;

    }

    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-input {
        display: block;

        input {
            margin: 10px 0px;
        }
    }

    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-label {
        display: none;

    }

    .pnd-annotation-sidebar-filter-element {
        display: none;
        margin: 0px 0px 6px 0px;
        cursor: pointer;

        &.pnd-annotation-sidebar-current-filter-active {
            color: @brand-success;
            font-weight: bold;
            display: block;
        }

        &.pnd-annotation-sidebar-current-filter-empt-red {
            color: @brand-warning;
            font-weight: bold;
            display: block;
        }
    }

    .pnd-annotation-sidebar-filter-label {
        display: block;
    }

    .pnd-annotation-sidebar-filter-input {
        display: none;

        &.pnd-annotation-sidebar-current-filter-active {
            display: block;
        }
    }

    .pnd-sidebar-filter-scroll {
        max-height: 300px;
        margin-right: -10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* ------------------------------------ *\
   #ANNOTATIONS-DETAILS
\* ------------------------------------ */

.pnd-annotation-details-wrap {
    padding: 0px;

    .pnd-annotation-details-top {
        cursor: pointer;
    }

    .pnd-annotation-item-header-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 245px;
        display: inline-block;
    }

    // Footer
    .pnd-annotation-details-footer {
        // text-align: center;
        background-color: #FFF;
        overflow: hidden;

        button {
            display: block;
            float: left;
        }
    }

    // Menu (meta, reply, share)
    .pnd-annotation-details-menu {
        background-color: lighten(@gray-extra-light, 10%);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        overflow: hidden;

        span .btn {
            float: left;
            border: 0px;
            color: @gray-dark;
            background-color: lighten(@gray-extra-light, 10%);
            line-height: 0px;
            height: 24px;
            width: 100px;
            padding: 0 8px;
            margin-left: 0px;

            &:hover {
                background-color: @gray-extra-lighter;
                color: @gray-dark;
            }

            &.pnd-annotation-details-menu-btn-active {
                background-color: @gray-extra-lighter;
                color: @gray-dark;
            }
        }

        span ~ span .btn {
            border-left: 1px solid #fff;
            display: inline !important;
            border-right: 0px;
        }
    }

    // Info - Note
    .pnd-annotation-details-info {
        background-color: @gray-extra-lighter;
        border-bottom: 1px solid @gray-extra-light;
        padding: 10px;
    }

    // Annotation header
    .pnd-annotation-details-header {
        //padding-left: 7px;
        vertical-align: middle;
        line-height: 24px;
        height: 24px;
        width: @annotation-sidebar-filter-width;
        background-color: @subject-color;
        // background-color: lighten(desaturate(@brand-primary,100), 30);
        color: white;
        transition-property: background-color, background;
        transition-duration: @animation-fast-duration;

        &.pnd-annotation-details-broken {
            background-color: @brand-warning;

            &:hover {
                background-color: darken(@brand-warning, 5%);
            }
        }

        &.pnd-annotation-details-ghosted {
            opacity: 0.4;
        }

        .btn {
            border: none;
            background-color: transparent;
            line-height: 0px;
            height: 24px;
            width: 24px;
            padding: 0 8px;

            &:hover {
                color: #fff;
            }

            &:active,
            &:focus {
                color: #fff;
            }
        }

        &:hover {
            background-color: darken(@subject-color, 5%);
        }
    }

    .pnd-annotation-details-container {
        width: @annotation-sidebar-filter-width;

        .pnd-annotation-details-content {
            padding: 0;
            background-color: #fff;
            #gradient > .horizontal-three-colors(#eee; #fff; 2%; #fff);

            // Meta toggle
            .pnd-annotation-details-meta {
                background-color: @gray-lighter;
                border-bottom: 3px solid @gray-extra-light;
                width: @annotation-sidebar-filter-width;

                .pnd-sub-info {
                    padding: 5px 10px;
                    overflow-y: hidden;
                    background-color: lighten(@gray-lighter, 4%);
                }

                .pnd-annotation-details-item-header {
                    padding-left: 7px;
                    cursor: pointer;
                    line-height: 24px;
                    height: 24px;

                    .pnd-icon {
                        color: @gray;
                    }

                    &:hover {
                        background-color: @gray-lighter;
                    }

                    &:active,
                    &:focus {
                        background-color: @gray-lighter;
                    }

                    .btn {
                        border: none;
                        background-color: transparent;
                        line-height: 0px;
                        height: 24px;
                        width: 24px;
                        padding: 0 8px;
                    }
                }
            }

            .pnd-annotation-details-item {

                & + .pnd-annotation-details-item {
                    border-top: 2px solid @gray-extra-light;
                }

                .btn {
                    border: none;
                    background-color: transparent;
                    line-height: 0px;
                    height: 24px;
                    width: 24px;
                    padding: 0 8px;
                }

                .pnd-annotation-details-item-header {
                    cursor: pointer;
                    line-height: 24px;
                    height: 24px;

                    &:hover button {
                        color: @brand-success;
                    }

                    &.pnd-annotation-details-sub-open {
                        background-color: @gray-lighter;
                        border-bottom: 1px solid @gray-extra-light;
                        font-weight: bold;
                    }
                }

                // .pnd-annotation-details-meta,
                .pnd-annotation-details-subject,
                .pnd-annotation-details-predicate,
                .pnd-annotation-details-object {
                    background-color: transparent;
                    border-bottom: 1px solid @gray-extra-light;
                    width: @annotation-sidebar-filter-width;

                    .pnd-sub-info {
                        padding: 0;
                        max-height: 200px;
                        overflow-y: auto;
                    }

                    .pnd-annotation-details-item-header {

                        &:hover {
                            background-color: @gray-lighter;
                        }

                        &:active,
                        &:focus {
                            background-color: @gray-lighter;
                        }
                    }
                }

                .pnd-annotation-details-meta {

                    .pnd-annotation-details-item-header {
                        padding-left: 7px;

                        .pnd-icon {
                            color: @gray;
                        }
                    }
                }

                .pnd-annotation-details-subject {

                    .pnd-annotation-details-item-header {
                        padding-left: 7px;

                        .pnd-icon {
                            color: @subject-color;
                        }
                    }
                }

                .pnd-annotation-details-predicate {

                    .pnd-annotation-details-item-header {
                        padding-left: 14px;

                        .pnd-icon {
                            color: @predicate-color;
                        }
                    }
                }

                .pnd-annotation-details-object {

                    .pnd-annotation-details-item-header {
                        padding-left: 21px;

                        .pnd-icon {
                            color: @object-color;
                        }
                    }
                }

                .pnd-annotation-details-deactive {
                    cursor: default;
                }
            }
        }
    }

    /* Preview of literal in annotation details */
    .pnd-annotation-details-literal {
        display: block;
        padding: 10px;
    }
}


/* ------------------------------------ *\
   #SIDEBAR-COLLAPSED
\* ------------------------------------ */

.pnd-annotation-sidebar-collapsed {

    .pnd-annotation-details-broken {

        [class^="pnd-icon"] + [class*="pnd-icon-"] {
            display: none;
        }

        .pnd-annotation-icon-color {
            display: none;
        }
    }

    .pnd-saving-content {
        display: none;
    }

    .pnd-annotation-details-header {
        width: @annotation-sidebar-coll-width;

        &:hover {
            color: #fff;
            background-color: darken(@subject-color, 10%);
        }

        &.pnd-annotation-details-broken {

            &:hover {
                background-color: darken(@brand-warning, 10%);
            }
        }

        .pnd-annotation-item-header-text {
            width: @annotation-sidebar-coll-width;
            white-space: normal;
            overflow: hidden;
            text-overflow: inherit;
            display: inline;

            .pnd-item-title {
                display: none;
            }

            .pnd-icon-caret-up,
            .pnd-icon-sort-down {
                display: none;
            }
        }

        .btn {
            display: none;
        }
    }

    .pnd-annotation-icon-color {
        width: 10px;
        padding: 0px;
        margin: 0px;

        .pnd-icon {
            display: none;
        }
    }

    .pnd-annotation-details-broken {
        width: 10px;
        padding: 0px;
        margin: 0px;

        .pnd-icon {
            display: none;
        }
    }
}

.pnd-annotation-icon-color {
    height: 24px;
    width: 26px;
    display: inline-block;
    text-align: center;
}

.pnd-annotation-details {
    position: absolute;
}


/* ------------------------------------ *\
   #ANIMATION-TEST
\* ------------------------------------ */

.pnd-annotation-details-ghosted {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}