/**
 * BUTTONS
 *
 * Style for custom buttons
 */


/* ------------------------------------ *\
   #BUTTONS-FULL-HEIGHT
\* ------------------------------------ */

.pnd-btn-full {
    height: 29px;
    padding: 0 10px;
    border: 0;
}

.btn {
    /* Custom opacity for disabled buttons */
    &.disabled,
    &[disabled] {
        .opacity(.5);
    }
}