/**
 * BUTTONS
 *
 * Style for custom buttons
 */


/* ------------------------------------ *\
   #BUTTONS-FULL-HEIGHT
\* ------------------------------------ */

.pnd-btn-full {
    height: 29px;
    padding: 0 10px;
    border: 0;
}

.btn {
    /* Custom opacity for disabled buttons */
    &.disabled,
    &[disabled] {
        .opacity(.5);
    }
}

/* ------------------------------------ *\
   #SUBJECT-PREDICATE-OBJECT-COLORS
\* ------------------------------------ */

/* Custom colors for buttons reffering to subject, predicate, object */
.btn-subject {
    .button-variant(#ffffff; @subject-color; @subject-color);
}

.btn-predicate {
    .button-variant(#ffffff; @predicate-color; @predicate-color);
}

.btn-object {
    .button-variant(#ffffff; @object-color; @object-color);
}