/**
 * DROPDOWN aka CONTEXTUAL MENU
 *
 * Style of dropdowns or contextual menu
 */

.pnd-dropdown-contextual-menu {

    &.dropdown-menu {
        z-index: @zindex-pnd-contextual-menu;
        // padding: 0px; // Already defined in bootstrap-theme-less
        border: 1px solid  @gray-extra-light;
        font-size: 12px;
        border-radius: 0;

        .divider {
            height: 2px;
            margin: 0;
        }

        li:first-child a {
            border-top: 0;
        }

        .dropdown-header {
            color: @gray-extra-light;
        }
    }
}