.dropdown-submenu {
    background-color: rgba(0, 0, 255, 0.7);
}

.pnd-dropdown-contextual-menu {

    &.dropdown-menu {
        z-index: @zindex-pnd-contextual-menu;
        padding: 0px;
        border: 1px solid  @gray-extra-light;
        font-size: 12px;
        border-radius: 0px;

        .divider {
            height: 2px;
            margin: 0px;
        }

        li:first-child a {
            border-top: 0px;
        }

        .dropdown-header {
            background-color: @dropdown-bg;
            color: @gray-extra-light;
        }
    }
}


