/**
 * DASHBOARD
 *
 * Styles for dashboard
 */

.pnd-dashboard-container {
    position: fixed;
    top: @toolbar-height;
    overflow: hidden;
    z-index: @zindex-pnd-dashboard;
}

.pnd-dashboard-panel {
    top: 0;
    position: absolute;
}

.pnd-dashboard-panel-expanded {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* First and second expended panels have
an internal padding on the right to leave some space to the
vertical draggable bar */
.pnd-dashboard-panel-not-last {
    .pnd-dashboard-panel-expanded {
        padding-right: 7px
    }
}

.pnd-dashboard-panel-collapsed {
    height: 100%;
}

.pnd-dashboard-panel-last .nav-tabs {
    margin-right: 0;
}

/* ------------------------------------ *\
   #BUTTON
\* ------------------------------------ */

.pnd-dashboard-panel.pnd-dashboard-panel-last button.pnd-btn-dashboard {
    right: 0px;

    &.btn-xs {
        width: 20px;

        &.disabled,
        &[disabled] {
            background-color: #fff;
            text-shadow: 0;
            opacity: 1;
            filter: alpha(opacity=100);

            .pnd-icon {
                color: @gray-light;
            }
        }
    }
}

.pnd-dashboard-panel button.pnd-btn-dashboard {
    position: absolute;
    z-index: 1;
    right: 7px;

    &.btn-xs {
        border: 0px;
        padding-top: 2px;
        text-shadow: 0 1px 0 #fff;
        width: 21px;

        &:hover {
            background-color: #fff;
            color: @brand-success;
        }

        &:focus,
        &:active:focus,
        &.active:focus {
            box-shadow: none;
        }

        .pnd-icon {
            font-size: 12px;
            line-height: normal;
            padding: 0px;
        }

        &.disabled,
        &[disabled] {
            background-color: #fff;
            text-shadow: 0;
            opacity: 1;
            filter: alpha(opacity=100);

            .pnd-icon {
                color: @gray-light;
            }
        }
    }
}

.pnd-dashboard-panel-nav {
    width: 100%;
    height: 20%;
}

.pnd-dashboard-panel-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top: 4px solid @gray-light;
}

.pnd-dashboard-panel-collapsed-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.pnd-dashboard-panel-separator {
    position: absolute;
    right: 0px;
    width: 7px;
    background: @gray-light;
    top: 0px;
    height: 100%;
    background-image: url(img/bg-dashboard-panel-separator.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: col-resize;
}

.pnd-dashboard-footer-handler {
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 20px;
    height: 18px;
    background-image: url(img/bg-dashboard-footer.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: row-resize;
}

.pnd-dashboard-footer {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    background: @gray-light; /* Old browsers */
    background-image: -moz-linear-gradient(top,  @gray-light 0%, @gray-light 75%, lighten(@gray, 10%)); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gray-light), color-stop(75%,@gray-light), color-stop(lighten(@gray, 10%))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  @gray-light 0%,@gray-light 75%, lighten(@gray, 10%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  @gray-light 0%,@gray-light 75%, lighten(@gray, 10%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  @gray-light 0%,@gray-light 75%, lighten(@gray, 10%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  @gray-light 0%,@gray-light 75%, lighten(@gray, 10%) 100%); /* W3C */
}