.pnd-dashboard-container {
    position : fixed;
    top: @toolbar-height;
    overflow: hidden;
    z-index: 100;
}

.pnd-dashboard-panel {
    top: 0px;
    position : absolute;    

}

.pnd-dashboard-panel-expanded {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.pnd-dashboard-panel-collapsed {
    height: 100%;
}


// ---------- BUTTON

.pnd-dashboard-panel.pnd-dashboard-panel-last  button.pnd-btn-dashboard {
    right: 0px;
}

.pnd-dashboard-panel  button.pnd-btn-dashboard {
    position: absolute;
    z-index: 1;
    right: 8px;
    
    &.btn-xs  {
    	border: 0px;
    	padding-top: 2px;
    	text-shadow: 0 1px 0 #fff;
    	width: 20px;
    	
    	&:hover {
	       background-color: #fff;
	       color: @brand-success;
	    }
	    
		&:focus,
		&:active:focus,
		&.active:focus {
	       box-shadow: none;
	    }
	    
	   .pnd-icon {
	       font-size: 12px;
	       line-height: normal;
	       padding: 0px;
	   }
    }  
}

.pnd-dashboard-panel-nav {
    width : 100%;
    height : 20%;
}

.pnd-dashboard-panel-content {
    width : 100%;
    height : 100%;
    background-color: #fff;
    border-top: 4px solid @gray-light;
}

.pnd-dashboard-panel-collapsed-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.pnd-dashboard-panel-separator {
    position: absolute;
    right: 0px;
    width: 8px;
    background: @gray-light;
    top: 0px;
    height: 100%;
    background-image: url(img/bg-dashboard-panel-separator.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: col-resize; 
}

.pnd-dashboard-footer {
    width : 100%;
    position : absolute;
    bottom: 0px;
    background: @gray-light; /* Old browsers */
    background-image: url(img/bg-dashboard-footer.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(img/bg-dashboard-footer.png), -moz-linear-gradient(top,  @gray-light 0%, @gray-light 84%, #7c7c7c 96%, #3d3d3d 100%); /* FF3.6+ */
    background-image: url(img/bg-dashboard-footer.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gray-light), color-stop(84%,@gray-light), color-stop(96%,@gray-dark), color-stop(100%,@gray-darker)); /* Chrome,Safari4+ */
    background-image: url(img/bg-dashboard-footer.png), -webkit-linear-gradient(top,  @gray-light 0%,@gray-light 84%,@gray-dark 96%,@gray-darker 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(img/bg-dashboard-footer.png), -o-linear-gradient(top,  @gray-light 0%,@gray-light 84%,@gray-dark 96%,@gray-darker 100%); /* Opera 11.10+ */
    background-image: url(img/bg-dashboard-footer.png), -ms-linear-gradient(top,  @gray-light 0%,@gray-light 84%,@gray-dark 96%,@gray-darker 100%); /* IE10+ */
    background-image: url(img/bg-dashboard-footer.png), linear-gradient(to bottom,  @gray-light 0%,@gray-light 84%,@gray-dark 96%,@gray-darker 100%); /* W3C */

}