/**
 * TOOLBAR
 *
 * Style for Pundit toolbar
 */

/*
This class gets added to the body element as soon as the toolbar is
rendered. It needs to push down any existing content making space for us.
(@toolbar-height is defined in pundit2.less)
*/

/* TODO: Some styles maybe belongs to general buttons... */

body.pnd-toolbar-active {
    margin-top: @toolbar-height;
    background-position-y: @toolbar-height;
}


/* ------------------------------------ *\
   #TOOLBAR-STYLE
\* ------------------------------------ */

.pnd-toolbar-navbar {
    min-width: 960px;
    z-index: @zindex-pnd-toolbar;

    .container-fluid {
        padding-left: 0px;
    }
}


/* ------------------------------------ *\
   #BUTTONS
\* ------------------------------------ */
.pnd-toolbar-navbar .navbar-nav li {

    /* Normal buttons... now darg gray */
    a {
        line-height: 1.5;
        height: @toolbar-height - @toolbar-border-bottom;
        border-right: 1px solid lighten(@navbar-inverse-link-hover-bg, 30);
        border-left: 0;
        
        &:focus {
            background-color: transparent;
        }

        &:hover {
            background-color: @navbar-inverse-link-hover-bg;
        }
    }

    /* Icons inside buttons */
    .pnd-icon {
        font-size: 14px;
        display: inline-block;
        vertical-align: text-bottom;
    }

    /* Toggle buttons like Dashboard and Sidebar */
    &.pnd-toolbar-toggle-button {

        &.pnd-toolbar-button-active {
            background-color: @gray;
            color: @btn-primary-color;

            a {
                &:focus {
                    background-color: @gray;
                }

                &:hover {
                    background-color: darken(@gray, 5);
                }
            }
        }
    }

    /* Call to action buttons... now green */
    &.pnd-calltoaction-btn {

        a {
            background-color: @brand-success;
            border-right: 1px lighten(@brand-success, 30%) solid;

            &:focus {
                background-color: @brand-success;
            }

            &:hover {
                background-color: darken(@brand-success, 8);
            }
        }
    }

    /* Triangular right border buttons... now ask the pundit */
    &.pnd-triangular-btn {

        a {
            position: relative;
            padding-left: 10px;
            border-right: 0;

            &:after {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(0, 0, 0, 0);
                border-left-color: @brand-success;
                border-width: 15px;
                margin-top: -15px;
                z-index: 100;
            }

            &:hover:after {
                border-left-color: darken(@brand-success, 8) !important;
            }

            &:focus:after {
                border-left-color: @brand-success;
            }
        }
        /* Any button following a triangular button */
        & + li a {
            padding-left: 23px;
        }
    }

    /* Disabled buttons */
    .pnd-toolbar-not-active-element {
        color: @color-toolbar-disabled
    }
}

/* ------------------------------------ *\
   #SPECIAL-BUTTONS-STYLES
\* ------------------------------------ */

/* Buttons on the right */
.pnd-toolbar-navbar .navbar-right li {
    a {
        border-left: 1px solid lighten(@navbar-inverse-link-hover-bg, 30);
        border-right: 0;
    }
}

/* Template selection button: special border color */
.pnd-toolbar-navbar .navbar-right li {
    &.pnd-toolbar-template-menu-button {
        a {
            border-left: 1px solid lighten(@navbar-inverse-link-hover-bg, 13);
        }
    }
}

/* Error buttons */
.pnd-toolbar-navbar .navbar-nav .pnd-toolbar-error-button {
    a {
        background-color: @brand-warning;
        border-right: 1px lighten(@brand-warning, 30%) solid;

        &:hover {
            background-color: darken(@brand-warning, 12%);
        }

        &:focus {
            // Do we need this?
        }
    }
}

/* Sidebar button icon */
.pnd-toolbar-navbar .navbar-nav .pnd-toolbar-annotations-button {
    .pnd-icon {
        margin-left: 3px;
        color: @color-toolbar-disabled;

        &.pnd-filter-active {
            color: @brand-primary;
        }
    }
}


/* ------------------------------------ *\
   #DROPDOWN-MENU
\* ------------------------------------ */

.pnd-toolbar-navbar .navbar-nav li {

    /* General dropdown styles */
    .dropdown-menu {

        padding: 1px 0 0 0;
        border: 0;
        border-bottom: 1px lighten(@brand-success, 30%) solid;

        li:first-child a {
            border-top: 0;
        }

        &.bottom-right {
            left: auto !important;
            right: 0 !important;
        }

        a {
            height: auto;
            background-color: @brand-success;
            color: #fff;
            padding: 3px 10px;
            border-top: 1px lighten(@brand-success, 30%) solid;
            border-right: 0;
            border-left: 0;
            max-width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                // background-color: @brand-success;
            }

            .pnd-icon {
                margin-right: 6px;
                margin: 0;
                width: 18px;
                display: inline-block;
                text-align: center;
            }
        }
    }

    /* Notebooks dropdown */
    .dropdown-menu {
        .current-notebook a {
            background-color: darken(@brand-success, 10%) !important;
        }
    }

    /* Templates dropdown */
    &.pnd-toolbar-template-menu-button .dropdown-menu {

        .dropdown-header {
            background-color: @dropdown-bg;
        }

        .current-template a {
            background-color: @dropdown-bg;
            color: @gray-darker;
        }

        li a {
            background-color: @gray-extra-lighter;
            color: @gray;
            border-top: 1px solid @gray-extra-light;

            .pnd-icon-check {
                color: @brand-success;
            }

            &:hover {
                background-color: #fff;
                color: @gray-darker;
            }
        }
    }

    /* Error dropdown */
    &.pnd-toolbar-error-button .dropdown-menu {
        border-bottom: 1px lighten(@brand-warning, 30%) solid;

        a {
            background-color: @brand-warning;
            border-top: 1px lighten(@brand-warning, 30%) solid;

            &:hover {
                background-color: @brand-warning;
            }
        }
    }
}