<div class="kee-wrp" ng-controller="KeeSearchCtrl">
<!-- search -->
<div class="kee-search">
	<!-- <form class="form-inline"> -->
	    <!-- <div class="form-group"> -->
	        <label>Search entity to use:</label>
	        <div class="left-inner-icon">
		        <span class="pnd-icon pnd-icon-search" ng-click="search.term = ''"></span>
		        <input class="form-control" type="text" ng-model="elemToSearch" placeholder="Type at least {{conf.labelMinLength}} characters...">
	        </div>
	    <!-- </div> -->
	<!-- </form> -->
</div>
<!-- // end search -->
    <div ng-model="contentTabs.activeTab" bs-tabs="contentTabs" data-template = "src/KorboEE/Search/KorboEEverticalTabs.tmpl.html"></div>

    <div ng-hide="previewIsLoading">
        <preview use-in-korbo="true"></preview>
    </div>

    <div ng-show="previewIsLoading">
        Loading preview...
    </div>
<!-- footer -->
    <div class="kee-footer">
        <button type="button" class="btn btn-xs btn-success" ng-click="closeKeeModal()">Close</button>
        <button type="button" class="btn btn-xs btn-success" ng-show="showMoreInfo.visibility" ng-class="{'disabled': showMoreInfo.disabled}" ng-click="moreInfo()">More Info</button>
        <button type="button" class="btn btn-xs btn-success" ng-show="showCopyInEditor.visibility" ng-class="{'disabled': showCopyInEditor.disabled}" ng-click="copyInEditor()">Copy in editor</button>
        <button type="button" class="btn btn-xs btn-success" ng-show="showUse.visibility" ng-class="{'disabled': showUse.disabled}" ng-click="use()">Use</button>
        <button type="button" class="btn btn-xs btn-success" ng-show="showUseAndCopy.visibility" ng-class="{'disabled': showUseAndCopy.disabled}" ng-click="copyAndUse()">Copy and Use</button>
    </div>
<!-- / end footer -->
</div>