<div class="tabbable tabs-left"> <!-- tabs left -->

    <ul class="nav nav-tabs pnd-vertical-tabs">
        <li ng-repeat="pane in contentTabs" ng-class="{active: $index == active}">
            <a data-toggle="tab" ng-click="setActive($index, $event)" data-index="{{$index}}" >
                <span class="badge pull-right" ng-show="!pane.isLoading">{{pane.items.length}}</span>
                <span class="pnd-icon pnd-icon-refresh pnd-icon-spin pull-right" ng-show="pane.isLoading"></span>
                {{pane.title}}
            </a>
        </li>
    </ul>
    <div>
        <div class="pnd-vertical-tab-content tab-content">
            <div ng-repeat="pane in contentTabs" class="tab-pane pnd-vertical-tab-list-content" ng-class="[$index == active ? 'active' : '']" style="float: left; height: 400px; overflow: scroll">
                <ul class="list-group">
                    <li ng-show="!contentTabs[$index].isLoading && contentTabs[$index].items.length === 0 && elemToSearch !== ''">No results found</li>
                    <li ng-show="contentTabs[$index].isLoading && elemToSearch !== ''">Searching...</li>
                    <li ng-show="!contentTabs[$index].isLoading && contentTabs[$index].items.length === 0 && elemToSearch === ''">Type a label to search...</li>
                    <li class="list-group-item" ng-repeat="mi in contentTabs[$index].items | orderBy:getOrderProperty" >
                        <item uri="{{mi.uri}}" hide-options="true" ng-click="select(mi)" is-selected="{{isSelected(mi)}}" ng-mouseover="getItem(mi)"></item>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div> <!-- / tabs left -->