<div class="pnd-panel-tab-content">

    <ng-include src="'src/Lists/itemsContainer.tmpl.html'"></ng-include>

    <!-- FOOTER -->
    <div class="pnd-panel-tab-content-footer">
        <button 
            class="pnd-triplecomposer-cancel btn btn-success btn-xs pnd-btn-full" 
            title="Remove from my items"
            ng-disabled="!isUseActive" 
            ng-click="onClickRemove()">
            Remove
        </button>
        <button 
            class="pnd-triplecomposer-cancel btn btn-subject btn-xs pnd-btn-full" 
            title="Use as subject" 
            ng-disabled="!isUseActive || !canAddItemAsSubject"
            ng-click="onClickUseSubject()">
            Set subject
        </button>
        <button 
            class="pnd-triplecomposer-cancel btn btn-object btn-xs pnd-btn-full" 
            title="Use as object"
            ng-disabled="!isUseActive || !canAddItemAsObject" 
            ng-click="onClickUseObject()">
            Set object
        </button>

        <!-- <button 
            type="button" 
            class="btn btn-xs btn-link pnd-btn-full pnd-btn-full my-items-btn-delete" 
            ng-click="onClickDeleteAllMyItems()" 
            title="Delete all my items">
            <span 
                class="pnd-icon pnd-icon-trash-o"></span>
        </button> -->
        <button 
            type="button" 
            class="btn btn-xs btn-link pnd-btn-full pnd-btn-full my-items-btn-order pnd-btn-lists" 
            template="{{dropdownTemplate}}"
            placement="top-left"
            bs-dropdown="dropdownOrdering"  
            title="Order my items">
            <span 
                class="pnd-icon pnd-icon-sort-amount-asc"></span>
        </button>
        <button 
            type="button" 
            class="btn btn-xs btn-link pnd-btn-full pnd-btn-full my-items-btn-add-page pnd-btn-lists" 
            title="Add current page to my items" 
            ng-click="onClickAddPageToMyItems()" 
            ng-disabled="!isUserLogged">
            <span 
                class="pnd-icon pnd-icon-bookmark"></span>
        </button>
    </div> <!-- end pnd-panel-tab-content-footer -->

</div>