<div class="popover" ng-controller="AnnotationPopoverCtrl">
    <div class="arrow"></div>
    <div class="popover-content">
        ({{content}}: {{ann.byNum[num].state}}//{{ann.byNum[num].lastState}}) {{ann.byNum[num].title}} ( {{ann.byNum[num].id}} )<br>
        <div>
            <button class="btn btn-sm btn-info" ng-click="setPreview(content)">Preview</button>
            <button class="btn btn-sm btn-success" ng-click="setOk(content)">Accept</button>
        </div>
        <div>
            <button class="btn btn-sm btn-danger bs-checkbox" ng-click="setKo(content)">Remove</button>
            <button class="btn btn-sm btn-warning bs-checkbox" ng-click="goNext(content)">Next</button>
        </div>
        
        <div ng-show="instances > 1">
            <button class="btn btn-head" 
                ng-click="acceptAll(content)"
                ng-mouseover="toggleSimilar(content)" 
                ng-mouseout="toggleSimilar(content)">accept all {{instances}}</button>
        </div>
    </div>
</div>