<div class="popover" ng-controller="AnnotationPopoverCtrl">
    <div class="arrow"></div>
    <div class="popover-content">
        ({{num}}) {{ann.byNum[num].title}}
        <br>

        <div>
            <button class="btn btn-sm btn-success" ng-click="setOk(content)">Accept</button>
            <button class="btn btn-sm btn-danger" ng-click="setKo(content)">Remove</button>
        </div>

        <div>
            <button class="btn btn-sm btn-warning" ng-click="goNext(content)">Next</button>
        </div>
        
        <div ng-show="instances > 1">
            <button class="btn btn-head" 
                ng-click="acceptAll(content)"
                ng-mouseover="toggleSimilar(content)" 
                ng-mouseout="toggleSimilar(content)">accept all {{instances}}</button>
        </div>

    </div>
</div>