<div ng-controller="KeeNewCtrl">
    <div class="kee-top-area">
        <div class="kee-top-area-menu pull-right">
            <span class="pnd-icon-gear"></span>
        </div>
        <div class="kee-top-area-message">{{topAreaMessage}}</div>

    </div> <!-- End top area -->

    <!-- content -->
    <div class="kee-new-content" ng-hide="isSaving">
    <!-- content on the right -->
        <div class="kee-right-content">
            <!-- original url-->
            <div class="kee-new-original-url">
	            <div class="form-group">
	                <label>Original URL</label>
	                <div class="left-inner-icon"><span class="pnd-icon pnd-icon-external-link"></span>
	                	<input type="text" class="form-control">
	                </div>
	            </div>
            </div>
            <!-- End original url -->

            <!-- image url -->
            <div class="kee-new-image-url">
	            <div class="form-group">
	                <label ng-class="{'kee-error' : imageUrlHasError}">
	                    Image URL
	                    <span ng-show="!imageUrlHasError" class="pnd-icon-exclamation-circle" data-title="{{imageUrlTooltipeMessage}}" bs-tooltip></span>
	                    <span ng-show="imageUrlHasError" class="kee-error pnd-icon-exclamation-circle" data-title="{{imageUrlErrorMessage}}" bs-tooltip></span>
	                </label>
	                <input type="text" ng-model="imageUrl" ng-change="checkUrl()" class="form-control">
                    <div class="kee-preview-image" ng-show="showImg">
                    <img ng-show="showImg" ng-src="{{previewImage}}"/>
                    <a ng-show="showImg" ng-click="removeImage()">Remove image</a>
                    </div>
	            </div>
            </div>
            <!-- End image url -->

            <!-- Types -->
            <div class="kee-new-types">
	            <div class="form-group">
	                <label ng-class="{'kee-error' : typesHasError}">
	                    Types
	                    <span> * </span>
	                    <span ng-show="!typesHasError" class="pnd-icon-exclamation-circle" data-title="{{typesTooltipeMessage}}" bs-tooltip></span>
	                    <span ng-show="typesHasError" class="kee-error pnd-icon-exclamation-circle" data-title="{{typesErrorMessage}}" bs-tooltip></span>
	                    <span class="pnd-icon-search" ng-click="activeFilter = true"></span>
	                </label>
	                <span ng-show="activeFilter" class="pnd-icon-times" ng-click="activeFilter = false; typeFilter.label=''"></span>
	                <input ng-show="activeFilter" type="text" ng-model="typeFilter.label">
	                <div ng-repeat="item in types | filter:typeFilter"
	                     class="checkbox">
	                    <label>
	                        <input type="checkbox" class="kee-type-input" name="items" ng-change="updateTypes()" ng-model="item.checked" value="{{item.uri}}" />
	                        {{item.label}}
	                        <span class="pnd-icon-external-link"></span>
	                    </label>
	                </div> <!-- div ng-repeat item  -->
	            </div>
            </div>
            <!-- End Types -->
        </div> <!-- End content on the right -->

        <!-- Languages -->
        <div class="kee-new-languages">
            <div kee-languages="tabs"></div>
            <button template="{{disactiveLanguagesPopoverTemplate}}" data-animation="am-flip-x" bs-popover ng-disabled="disactiveLanguages.length < 1"><span class="pnd-icon-plus"></span></button>
        </div>
        <!-- End languages -->
    </div><!-- End new content-->
    <!-- content -->
    <div class="kee-new-saving" ng-show="isSaving">
    Saving...
    </div>

    <div class="kee-footer">
        <button type="button" class="btn btn-xs btn-success" ng-click="closeKeeModal()">Close</button>
        <button type="button" class="btn btn-xs btn-success" ng-click="save()">Save and add</button>
    </div>

</div>