<div ng-controller="AnnomaticPanelCtrl" class="pnd-annomatic-container pnd-ignore">
    <div class="pnd-annomatic-content">
        <div class="pnd-btn-annomatic">
            <button 
                class="btn btn-link pnd-button-suggestion" 
                ng-click="getSuggestions()"
                ng-show="!gotAnnotations || Annomatic.annotationNumber == 0"
                ng-disabled="targets.length == 0">
                    <span class="pnd-icon pnd-icon-file-text"></span> Scan Page
            </button> 

            <!-- <button 
                class="btn btn-link pnd-button-suggestion" 
                ng-click="getSuggestionsArea()"
                ng-show="Annomatic.area != null"
                ng-disabled="targets.length == 0">
                    <span class="pnd-icon pnd-icon-file-text"></span> Scan Area
            </button> -->
        </div>

        <!-- <button class="btn btn-success pnd-button-select-area" ng-click="selectAreaMode()">
            Select area <span class="pnd-icon pnd-icon-edit"></span>
        </button> -->

        <div ng-show="Annomatic.annotationNumber > 0" class="pnd-btn-annomatic">
            <div class="pnd-annomatic-count">
                Suggestion: {{Annomatic.annotationNumber}} - Saved: {{Annomatic.ann.savedByNum.length}} <!-- - Rejected: {{Annomatic.ann.byState['removed'].length}} -->
            </div>

            <!-- TODO: fix filter -->
            <!-- <button
                class="btn btn-default pnd-button-filter-suggestion"
                ng-model="filteredTypes"
                placeholder="Filter by suggestion type"
                data-html="1"
                data-multiple="1"
                data-animation="am-flip-x"
                ng-options="type.value as type.label for type in Annomatic.ann.typesOptions"
                bs-select
                ng-show="Annomatic.ann.typesOptions.length > 0">
            </button> -->

            <!-- <button class="btn btn-success pnd-button-save-review" ng-click="saveReview()">
                Save
            </button> -->
            <button 
                class="btn btn-success pnd-button-start-review" 
                ng-click="startReview()"
                ng-hide="Annomatic.ann.savedByNum.length > 0">
                Start review <!-- ({{Annomatic.currAnn}}/{{Annomatic.annotationNumber}}) -->
            </button>
        </div>

        <div ng-repeat="ann in filtered = (annotations)" style="color: black">
            <annotation-details id="{{ann}}"></annotation-details>
        </div>

        <!-- <div class="pnd-annomatic-info" ng-show="gotAnnotations && Annomatic.annotationNumber > 0">
            <div>
                Accepted: {{Annomatic.ann.byState['accepted'].join(', ')}}
            </div>
            <div>
                Removed: {{Annomatic.ann.byState['removed'].join(', ')}}
            </div>
            <div>
                filteredTypes: {{Annomatic.filteredTypes}}
            </div>
        </div> -->
    </div>
</div>