<div class="pnd-annomatic-popover popover" ng-controller="AnnomaticPopoverCtrl">
    <div class="arrow"></div>

    <h4 class="popover-title" ng-click="showDetails = !showDetails">

        <!--
        TODO: decide if we want the caret or not
        <span ng-show="!showDetails" class="pnd-icon pnd-icon-caret-right"></span>
        <span ng-show="showDetails" class="pnd-icon pnd-icon-caret-down"></span>
        -->

        <span
            style="opacity: {{ann.byNum[num].confidence}}"
            title="Confidence {{ann.byNum[num].confidence}}"
            class="pnd-icon pnd-icon-th-large pnd-confidence"></span>

        {{ann.byNum[num].title}}

        <span class="pull-right pnd-icon pnd-icon-times" ng-click="hide()"></span>
    </h4>

    <div class="popover-content">

        <div ng-show="showDetails" class="pnd-preview clearfix">
            <item-preview uri="{{ann.byNum[num].uri}}" sticking="false"></item-preview>
        </div>

        <div class="btn-group">

            <!-- <button class="btn btn-warning pnd-button-go-prev" ng-click="goPrev()">
                <span class="pnd-icon pnd-icon-arrow-left"></span>
            </button> -->

            <button class="btn btn-success pnd-button-set-ok" ng-click="setOk()" ng-disabled="ann.savedByNum.indexOf(num) != -1">
                <span class="pnd-icon pnd-icon-check"></span>
            </button>

            <!-- <button class="btn btn-danger pnd-button-set-ko" ng-click="setKo()" ng-disabled="ann.savedByNum.indexOf(num) != -1">
                <span class="pnd-icon pnd-icon-trash-o"></span>
            </button> -->

            <!-- <button
                ng-show="instances > 1"
                class="btn btn-info"
                ng-click="acceptAll()"
                ng-mouseover="toggleSimilar()"
                ng-mouseout="toggleSimilar(content)">accept all {{instances}}</button> -->

            <button class="btn btn-warning" ng-click="goNext()">
                <span class="pnd-icon pnd-icon-arrow-right"></span>
            </button>

        </div>

    </div>
</div>