<div ng-controller="AnnomaticPanelCtrl">
    <div>

        <button ng-disabled="targets.length == 0" class="btn btn-success" ng-click="getSuggestions()">
            Scan Page <span class="pnd-icon pnd-icon-file-text"></span>
        </button>

        <button class="btn btn-success" ng-click="selectAreaMode()">
            Select area <span class="pnd-icon pnd-icon-edit"></span>
        </button>

        <div ng-show="Annomatic.annotationNumber > 0">
            <button class="btn btn-danger" ng-click="startReview()">
                Review ({{Annomatic.currAnn}}/{{Annomatic.annotationNumber}})
            </button>

            <button
                class="btn btn-default"
                ng-model="filteredTypes"
                placeholder="Filter by suggestion type"
                data-html="1"
                data-multiple="1"
                data-animation="am-flip-x"
                ng-options="type.value as type.label for type in Annomatic.ann.typesOptions"
                bs-select>
            </button>
        </div>
    </div>
    <div>
        Accepted: {{Annomatic.ann.byState['accepted'].join(', ')}}
    </div>
    <div>
        Removed: {{Annomatic.ann.byState['removed'].join(', ')}}
    </div>
    <div>
        filteredTypes: {{Annomatic.filteredTypes}}
    </div>
</div>