<header class="panel panel-danger" ng-controller="AnnomaticPanelCtrl">
    <div class="panel-heading">
        <button class="btn" ng-click="getAnnotations()">Get annotations</button>
        <button class="btn" ng-click="startReview()">Start review ({{Annomatic.currAnn}}/{{Annomatic.annotationNumber}})</button>

        <div>
            <label>Filter types:&nbsp;</label>
            <button type="button" class="btn btn-default" ng-model="filteredTypes" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="type.value as type.label for type in Annomatic.ann.typesOptions" bs-select>
              Action <span class="caret"></span>
            </button>
        </div>
    </div>
    <div class="panel-header">
        Accepted: {{Annomatic.ann.byState['accepted'].join(', ')}}
    </div>
    <div class="panel-header">
        Removed: {{Annomatic.ann.byState['removed'].join(', ')}}
    </div>
    <div class="panel-header">
        filteredTypes: {{Annomatic.filteredTypes}}
    </div>
</header>