<div class="pnd-annomatic-popover popover" ng-controller="AnnomaticPopoverCtrl">
    <div class="arrow"></div>

    <h4 class="popover-title" ng-click="showDetails = !showDetails">
        <span ng-show="!showDetails" class="pnd-icon pnd-icon-search"></span>
        <span ng-show="showDetails" class="pnd-icon pnd-icon-times"></span>

        {{ann.byNum[num].title}}
    </h4>

    <div class="popover-content">

        <div ng-show="showDetails">
            <p>
                <img ng-if="ann.byNum[num].image.thumbnail" ng-src="{{ann.byNum[num].image.thumbnail}}">
                {{ann.byNum[num].abstract}}
            </p>
        </div>


        <div>
            <button class="btn btn-sm btn-success" ng-click="setOk()">Accept</button>
            <button class="btn btn-sm btn-danger" ng-click="setKo()">Remove</button>
        </div>

        <div>
            <button class="btn btn-sm btn-warning" ng-click="goNext()">Next</button>
        </div>
        
        <div ng-show="instances > 1">
            <button class="btn btn-head" 
                ng-click="acceptAll()"
                ng-mouseover="toggleSimilar()"
                ng-mouseout="toggleSimilar(content)">accept all {{instances}}</button>
        </div>

    </div>
</div>