<div class="pnd-panel-tab-content" ng-controller = "PreviewCtrl">

    <!-- HEADER -->

    <div class="pnd-panel-tab-content-header">
        <span class="panel-heading pnd-dashboard-preview-panel-heading" ng-if="isItemEmpty()">{{getWelcomeHeaderMessage()}}</span>
        <span ng-if="!isItemEmpty()">{{itemDashboardPreview.label}}</span>
    </div> <!-- end pnd-panel-tab-content-header -->

    <!-- CONTENT -->

    <!-- show welcome content when preview is empty -->
    <div class="pnd-panel-tab-content-content">
        <span class="pnd-dashboard-preview-welcome" ng-if="isItemEmpty()">{{getWelcomeBodyMessage()}}</span>

        <!-- Image -->
        <div ng-if="hasImage" class="pnd-preview-item-image">
            <img ng-src="{{itemDashboardPreview.image}}" />
        </div>

        <!-- Description -->
        <div class="pnd-dashboard-preview-item-description">
            <p>{{itemDashboardPreview.description}}</p>
        </div>

        <!-- Types -->
        <div class="pnd-dashboard-preview-item-types">
            <ul>
                <li ng-repeat="type in itemDashboardPreview.type">{{getLabelType(type)}}</li>
            </ul>
        </div>
    </div> <!-- end pnd-panel-tab-content-content -->

    <!-- FOOTER -->

    <div class="pnd-panel-tab-content-footer">

        <!-- More info -->
        <a class="btn btn-success pnd-dashboard-preview-more-info-button" ng-if="!isItemEmpty()" ng-href="{{itemDashboardPreview.uri}}" ng-class="{disabled: !isStickyItem()}"target="_blank" >More info</a>
        <!-- Open image -->
        <a class="pnd-icon-external-link pnd-dashboard-preview-external-modal-button" ng-if="itemIsAnImage && !isStickyItemEmpty()"></a>
        <!-- Clear Sticky Icon -->
        <span class="pnd-icon-times pnd-dashboard-preview-clear-sticky-button" ng-click="clearSticky()" ng-if="!isStickyItemEmpty()"></span>

    </div> <!-- end pnd-panel-tab-content-footer -->

</div>