<div class="pnd-panel-tab-content" ng-controller = "PreviewCtrl">

    <!-- HEADER -->

    <div class="pnd-panel-tab-content-header">
        <span class="pnd-dashboard-preview-panel-heading" ng-if="isItemEmpty()">{{getWelcomeHeaderMessage()}}</span>
        <span ng-if="!isItemEmpty()">{{itemDashboardPreview.label}}</span>
    </div> <!-- end pnd-panel-tab-content-header -->

    <!-- CONTENT -->

    <!-- show welcome content when preview is empty -->
    <div class="pnd-panel-tab-content-content pnd-inner-scrollable">
        <span class="pnd-dashboard-preview-welcome" ng-if="isItemEmpty()">{{getWelcomeBodyMessage()}}</span>

        <!-- Image -->
        <div ng-if="hasImage" class="pnd-preview-item-image">
            <img ng-src="{{itemDashboardPreview.image}}" />
        </div>

        <!-- Description -->
        <div class="pnd-dashboard-preview-item-description">
            <p>{{itemDashboardPreview.description}}</p>
        </div>

        <!-- Types -->
        <div class="pnd-dashboard-preview-item-types">
            <ul>
                <li ng-repeat="type in itemDashboardPreview.type">{{getLabelType(type)}}</li>
            </ul>
        </div>
    </div> <!-- end pnd-panel-tab-content-content -->

    <!-- FOOTER -->

    <div class="pnd-panel-tab-content-footer">

        <!-- More info -->
        <button class="btn btn-success btn-xs pnd-dashboard-preview-more-info-button" ng-click="openUrl(itemDashboardPreview.uri)" ng-class="{disabled: !isStickyItem()}">More info</button>
        <!-- Open image -->
        <button class="btn btn-success pnd-dashboard-preview-external-modal-button" ng-class="{disabled: !isStickyItem()}" ng-if="itemIsAnImage">Open Image</button>
        <!-- Clear Sticky Icon -->
        <button class="btn btn-success btn-xs pnd-dashboard-preview-clear-sticky-button" ng-click="clearSticky()" ng-class="{disabled: !isStickyItem()}">Clear Sticky</button>

    </div> <!-- end pnd-panel-tab-content-footer -->

</div>