<div class="pnd-annotation-preview-item-container pnd-ignore">

    <div class="pnd-preview-item-types">
        <ul class="pnd-preview-item-types-ul">
            <li class="pnd-preview-single-type" ng-class="{'pnd-is-sticky': isSticky}" ng-repeat="type in item.type">{{getTypeLabel(type)}}</li>
        </ul>
        <div ng-show="typeHiddenPresent" ng-class="{'pnd-icon-caret-down': typeHidden, 'pnd-icon-caret-up': !typeHidden}" class="pnd-icon" ng-click="showAlltypes()"></div>
    </div>

    <div ng-if="item.isImage()" class="pnd-preview-item-image">
        <img ng-src="{{item.image}}" />
    </div>

    <div ng-show="item.isImageFragment()" class="pnd-preview-item-image">
        <img ng-src="{{item.image}}" />
    </div>

    <div class="pnd-preview-item-description">
        <p>{{item.description}}</p>
    </div>

    <div ng-if="item.isProperty()" class="pnd-preview-item-predicate">
        <ul>
            <li ng-if="item.uri"><strong>Uri:</strong> {{item.uri}}</li>
            <li ng-if="item.vocabulary"><strong>Vocabulary:</strong> {{item.vocabulary}}</li>
            <li ng-if="item.domain"><strong>Domain:</strong> 
                <span ng-repeat="domain in item.domain">{{domain}}</span>
            </li>
            <li ng-if="item.range"><strong>Range:</strong> 
                <span ng-repeat="range in item.range">{{range}}</span>
            </li>
        </ul>
    </div>
    
</div>
