<div class="pnd-dashboard-welcome">
	<div class="pnd-preview-notebook-visibility">
	    <span><strong>Visibility:</strong>
            <span class="pnd-icon pnd-icon-group" ng-if="notebook.isPublic()"></span>
            <span class="pnd-icon pnd-icon-lock" ng-if="!notebook.isPublic()"></span> {{notebook.visibility}}</span>
	</div>
	<div class="pnd-preview-notebook-annotations">
	    <span><strong>Annotations:</strong>  </span> <span>{{notebook.includes.length}}</span>
	</div>
	<div class="pnd-preview-notebook-creator">
	    <span><strong>Creator:</strong>  </span> <span>{{notebook.creatorName}}</span>
	</div>
	
	<div class="pnd-preview-notebook-date">
	    <span><strong>Creation date:</strong>  </span> <span>{{notebook.created}}</span>
	</div>
	<div class="pnd-preview-notebook-current" ng-show="isCurrent">
	    <strong>current notebook</strong> <span class="pnd-icon pnd-icon-pencil-square"></span>
	</div>
</div>