<nav class="navbar navbar-inverse navbar-fixed-top pnd-toolbar-navbar pnd-ignore" role="navigation" ng-controller="ToolbarCtrl">
    <div class="container-fluid pnd-toolbar-navbar-container">
    
        <div class="pnd-toolbar-navbar-collapse">
            <ul class="nav navbar-nav pnd-toolbar-navbar-left">
                
                <!-- Error button -->
                <li ng-show="showStatusButtonError()" class="pnd-toolbar-error-button">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="errorMessageDropdown"><span class="pnd-icon pnd-icon-exclamation-circle"></span></a>
                </li>
                
                <!-- OK button -->
                <li ng-show="showStatusButtonOk()" class="pnd-toolbar-status-button-ok">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="infoDropdown"><span class="pnd-icon pnd-icon-check"></span></a>
                </li>

                <!-- Loading button -->
                <li ng-show="showStatusButtonLoading()" class="pnd-toolbar-loading-button">
                    <a href="javascript:void(0)">
                        <!-- <span></span> -->
                        <span class="pnd-icon pnd-icon-refresh pnd-icon-spin"></span>
                    </a>
                </li>

                <!-- Login button -->
                <li ng-show="showLogin()" class="pnd-toolbar-login-button pnd-toolbar-button-active">
                    <!-- <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="userNotLoggedDropdown"><span>Login</span></a> -->
                    <a href="javascript:void(0)" ng-click="login()"><span>Login</span></a>
                </li>
                
                <!-- User button -->
                <li ng-show="showUserButton()" class="pnd-toolbar-user-button  pnd-toolbar-button-active">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="userLoggedInDropdown"><span>{{userData.fullName}}</span></a>
                </li>
                
                <!-- Ask the Pundit button-->
                <li ng-class="{true: 'pnd-toolbar-ask-button-active', false: 'pnd-toolbar-ask-button-not-active'}[isAskActive()]" class="pnd-toolbar-ask-button">
                    <a href="{{getAskLink()}}" target="_blank">Ask the Pundit</a>
                </li>
                
                <!-- Dashboard button -->
                <li class="pnd-toolbar-dashboard-button" ng-class="{'pnd-not-clickable':isAnnomaticRunning}">
                    <a href="javascript:void(0)" ng-click="dashboardClickHandler()">
                        <span ng-class="{true: 'pnd-toolbar-active-element', false: 'pnd-toolbar-not-active-element'}[isDashboardActive()] ">Dashboard</span>
                    </a>
                </li>

            </ul> <!-- pnd-navbar-left -->

            <ul class="nav navbar-nav navbar-right pnd-toolbar-navbar-right">
                
                <!-- Template mode button -->
                <li class="pnd-toolbar-template-mode-button" ng-class="{'pnd-not-clickable':isAnnomaticRunning}" ng-show="useTemplates" ng-click="toggleTemplateMode()">
                    <a href="javascript:void(0)">
                        <span class="pnd-icon pnd-icon-pencil"></span>
                    </a>
                </li>
                
                <!-- Template menu -->
                <li class="pnd-toolbar-template-menu-button" ng-click="onClickTemplateDropdown()" ng-class="{'pnd-not-clickable':isAnnomaticRunning}" ng-show="useTemplates">
                    <a href="javascript:void(0)" template="{{dropdownTemplateTemplates}}" bs-dropdown="userTemplateDropdown">
                        <span>{{currentTemplateLabel}}</span>
                        <span class="pnd-icon pnd-icon-circle" style="color: {{currentTemplateColor}};"></span>
                    </a>
                </li>
                
                <!-- Notebooks menu -->
                <li class="pnd-toolbar-notebook-menu-button">
                    <a ng-if="isNotebookMenuActive()" href="javascript:void(0)" placement="bottom-right" template="{{dropdownTemplateMyNotebook}}" bs-dropdown="userNotebooksDropdown"><span class="pnd-icon pnd-icon-book"> </span> <span class="pnd-toolbar-active-element">{{currentNotebookLabel}}</span></a>
                    <a ng-show="!isNotebookMenuActive()" href="javascript:void(0)" placement="bottom-right" template="{{dropdownTemplate}}" bs-dropdown="userNotLoggedDropdown"><span class="pnd-toolbar-not-active-element">My Notebooks</span></a>
                </li>
                
                <!-- Annotations menu -->
                <li class="pnd-toolbar-annotations-button">
                    <a href="javascript:void(0)" ng-click="annotationsClickHandler()">
                        <span class="pnd-toolbar-active-element">Annotations Sidebar</span>
                    </a>
                </li>

            </ul> <!-- pnd-toolbar-navbar-right -->
    
        </div><!-- pnd-toolbar-navbar-collapse -->
    </div><!-- pnd-toolbar-navbar-container -->
</nav>



              
