<nav class="navbar navbar-inverse navbar-fixed-top pnd-toolbar-navbar pnd-ignore" role="navigation" ng-controller="ToolbarCtrl">
    <div class="container-fluid pnd-toolbar-navbar-container">
    
        <div class="pnd-toolbar-navbar-collapse">
            <ul class="nav navbar-nav pnd-toolbar-navbar-left">
                
                <!-- Error button -->
                <li ng-show="showStatusButtonError()" class="pnd-toolbar-error-button">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="errorMessageDropdown"><span class="pnd-icon pnd-icon-exclamation-circle"></span></a>
                </li>
                
                <!-- OK button -->
                <li ng-show="showStatusButtonOk()" class="pnd-toolbar-status-button-ok pnd-calltoaction-btn">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="infoDropdown"><span class="pnd-icon pnd-icon-check"></span></a>
                </li>

                <!-- Loading button -->
                <li ng-show="showStatusButtonLoading()" class="pnd-toolbar-loading-button pnd-calltoaction-btn">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="infoDropdown">
                        <!-- <span></span> -->
                        <span class="pnd-icon pnd-icon-refresh pnd-icon-spin"></span>
                    </a>
                </li>

                <!-- Login button -->
                <li ng-show="showLogin()" class="pnd-toolbar-login-button pnd-toolbar-button-active pnd-calltoaction-btn">
                    <!-- <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="userNotLoggedDropdown"><span>Login</span></a> -->
                    <a href="javascript:void(0)" ng-click="loginButtonClick()"><span>Login</span></a>
                </li>
                
                <!-- User button -->
                <li ng-show="showUserButton()" class="pnd-toolbar-user-button  pnd-toolbar-button-active pnd-calltoaction-btn">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="userLoggedInDropdown"><span>{{userData.fullName}}</span></a>
                </li>
                
                <!-- Ask the Pundit button-->
                <li class="pnd-toolbar-ask-button pnd-toolbar-ask-button-active pnd-calltoaction-btn pnd-triangular-btn" ng-if="askThePundit">
                    <a href="{{getAskLink()}}" target="_blank" ng-click="askThePunditClick()">
                        <span ng-if="!isUserLogged">Ask the Pundit</span>
                        <span ng-if="isUserLogged">My Ask the Pundit</span>
                    </a>
                </li>

                <li class="pnd-toolbar-custom-button" ng-if="menuCustom && menuCustomBtn" ng-repeat="(key, value) in menuCustomBtn">
                    <a href="javascript:void(0)" ng-click="openUrl(value)">
                        <span class="pnd-toolbar-active-element">{{key}}</span>
                    </a>
                </li>
                
                <!-- Dashboard button -->
                <li class="pnd-toolbar-toggle-button"
                    ng-if="dashboard" 
                    ng-class="{'pnd-not-clickable':isAnnomaticRunning, 'pnd-toolbar-button-active': isDashboardVisible, 'pnd-toolbar-dashboard-button': askThePundit}">
                    <a href="javascript:void(0)" ng-click="dashboardClickHandler()">
                        <span class="pnd-toolbar-active-element">Dashboard</span>
                    </a>
                </li>

            </ul> <!-- pnd-navbar-left -->

            <ul class="nav navbar-nav navbar-right pnd-toolbar-navbar-right">
                
                <!-- Template mode button -->
                <li class="pnd-toolbar-template-mode-button" ng-class="{'pnd-not-clickable':isAnnomaticRunning}" ng-show="useTemplates" ng-click="toggleTemplateMode()">
                    <a href="javascript:void(0)">
                        <span class="pnd-icon pnd-icon-pencil"></span>
                    </a>
                </li>
                
                <!-- Template menu -->
                <li class="pnd-toolbar-template-menu-button" ng-click="onClickTemplateDropdown()" ng-class="{'pnd-not-clickable':isAnnomaticRunning}" ng-show="useTemplates">
                    <a href="javascript:void(0)" template="{{dropdownTemplateTemplates}}" bs-dropdown="userTemplateDropdown">
                        <span>{{currentTemplateLabel}}</span>
                        <span class="pnd-icon pnd-icon-circle" style="color: {{currentTemplateColor}};"></span>
                    </a>
                </li>
                
                <!-- Notebooks menu -->
                <li class="pnd-toolbar-notebook-menu-button" ng-if="myNotebooks" ng-click="onClickNotebookDropdown()">
                    <a ng-show="isUserLogged" href="javascript:void(0)" placement="bottom-right" template="{{dropdownTemplateMyNotebook}}" bs-dropdown="userNotebooksDropdown"><span class="pnd-icon pnd-icon-book"> </span> <span class="pnd-toolbar-active-element">{{currentNotebookLabel}}</span></a>
                    <a ng-show="!isUserLogged" href="javascript:void(0)" placement="bottom-right" template="{{dropdownTemplate}}" bs-dropdown="userNotLoggedDropdown"><span class="pnd-toolbar-not-active-element">My notebooks</span></a>
                </li>

                <!-- Custom menu -->
                <li class="pnd-toolbar-custom-menu-button" ng-if="menuCustom && menuCustomDropdown.length > 0">
                    <a href="javascript:void(0)" template="{{dropdownTemplate}}" bs-dropdown="menuCustomDropdown">
                        <span class="pnd-toolbar-active-element">Advanced menu</span>
                    </a>
                </li>
                
                <!-- Annotations menu -->
                <li class="pnd-toolbar-annotations-button pnd-toolbar-toggle-button" ng-if="sidebar" ng-class="{'pnd-toolbar-button-active': isAnnotationSidebarExpanded}">
                    <a href="javascript:void(0)" ng-click="annotationsClickHandler()">
                        <span class="pnd-toolbar-active-element">
                            Sidebar 
                            <span 
                                class="pnd-icon pnd-icon-filter"
                                ng-class="{'pnd-filter-active': isAnnotationFiltersActive}">
                            </span>
                        </span>
                    </a>
                </li>

            </ul> <!-- pnd-toolbar-navbar-right -->
    
        </div><!-- pnd-toolbar-navbar-collapse -->
    </div><!-- pnd-toolbar-navbar-container -->
</nav>



              
