<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var punditConfig = {
    debugAllModules: false,
    modules: {
        "Annotation": { debug: true },
        "Notebook": { debug: true },
        "Item": { debug: true }
    }
};

var CommunicationDemoCtrl = function($scope, Notebook, Annotation, MyPundit, NotebookStore) {
    var nb1 = new Notebook("3a1777cb"),
        nb2 = new Notebook("very-wrong-id");

    nb1.then(function(nb) {
        $scope.nb1 = JSON.stringify(nb, null, "  ");
    }, function(message) {
        $scope.nb1 = "Failed to load notebook: "+message;
    });
    

    nb2.then(function(nb) {
        $scope.nb2 = JSON.stringify(nb, null, "  ");
    }, function(message) {
        $scope.nb2 = "Failed to load notebook: "+message;
    });


    var ann1 = new Annotation("8fd05a49"),
        ann2 = new Annotation("another-wrong-id");
        
    ann1.then(function(ann) {
        $scope.ann1 = JSON.stringify(ann, null, "  ");
    }, function(message) {
        $scope.ann1 = "Failed to load annotation: "+message;
    });
    
    ann2.then(function(ann) {
        $scope.ann2 = JSON.stringify(ann, null, "  ");
    }, function(message) {
        $scope.ann2 = "Failed to load annotation: "+message;
    });


    $scope.loadMyNotebooks = function() {
        NotebookStore.getMyNotebooks().then(function(notebooksIds) {
            $scope.myNotebooks = JSON.stringify(notebooksIds, null, "  ");
        });
    }


    $scope.newNotebookName  = "Clever notebook name";
    $scope.createNotebook = function() {
        NotebookStore.createNotebook($scope.newNotebookName).then(function(data) {
            $scope.createString = JSON.stringify(data, null, "  ");
        });
    }


}
</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <div ng-controller="CommunicationDemoCtrl">

        <h3>Communications with the Pundit Server</h3>

        <div class="container">
            <input type="text" value="Clever notebook name" ng-model="newNotebookName">
            <button class="btn btn-primary" ng-click="createNotebook()">Create a notebook</button>
            <pre>{{createString}}</pre>

            <button class="btn btn-primary" ng-click="loadMyNotebooks()">My notebooks</button>
            <pre>{{myNotebooks}}</pre>
        </div>

        <div class="container">
            A public annotation: <pre>{{ann1}}</pre>
            A non existent annotation: <pre>{{ann2}}</pre>
        </div>

        <div class="container">
            A public notebook: <pre>{{nb1}}</pre>
            A non existent notebook: <pre>{{nb2}}</pre>
        </div>

    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->