<!-- buildexamples:section header --><!-- /buildexamples -->

<style>
    .pnd-cons {
        background: #fc0;
    }
</style>

<script>

var punditConfig = {
    debugAllModules: false,
    modules: {
        "Annotation": { debug: false },
        "Consolidation": { debug: true },
        "AnnotatorsOrchestrator": { debug: true },
        "TextFragmentAnnotator": { debug: true },
        "ImageFragmentAnnotator": { debug: true },
        "XpointersHelper": { debug: true }
    }

};

var ConsolidationDemoCtrl = function($scope, Consolidation, Annotation, AnnotatorsOrchestrator, 
    TextFragmentAnnotator, ImageFragmentAnnotator, XpointersHelper) {

    // 1 target
    // var ann0 = new Annotation("8fd05a49");
    var ann0 = new Annotation("65286186");


    ann0.then(function(ann) {
        $scope.items0 = JSON.stringify(ann.items, null, "  ");
        for (var uri in ann.items) {
            Consolidation.addItems(ann.items[uri]);
        }
        
    }, function(message) {
        $scope.items1.textType = "Failed to load annotation: "+message;
    });


    // 2 targets
    var ann1 = new Annotation("385c1647");

    ann1.then(function(ann) {
        $scope.items1 = JSON.stringify(ann.items, null, "  ");
        for (var uri in ann.items) {
            Consolidation.addItems(ann.items[uri]);
        }
    }, function(message) {
        $scope.items1.textType = "Failed to load annotation: "+message;
    });
    
    $scope.$watch(function() {
        return Consolidation.getItems();
    }, function(newItems, oldItems) {
        $scope.allItems = newItems.text;
        $scope.allItemsJSON = JSON.stringify(newItems.text, null, "  ");
        console.log('all itemszzzzzz', newItems.text);
    }, true);

    $scope.go = function() {
        Consolidation.consolidate();
    };

    $scope.high = function(uri) {
        TextFragmentAnnotator.high(uri);
    };

    $scope.reset = function(uri) {
        TextFragmentAnnotator.reset(uri);
    }

}
</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <div ng-controller="ConsolidationDemoCtrl" class="container clearfix">

        <h3>Consolidation</h3>

        <button class="btn btn-info" ng-click="go()">go</button>
        <button class="btn btn-warning" ng-mouseover="high()" ng-mouseout="reset()">Highlight
         something?</button>

        <div class="row">

            <div class="col-sm-6">
                <div class="pundit-content" about="http://fake-url.it/release_bot/build/examples/dante-1.html">
                <h1>Dante Alighieri</h1>
                <div>
                    <p><img src="http://upload.wikimedia.org/wikipedia/commons/a/a4/Dante-alighieri.jpg" height="150" class="pull-left" /><p><b>Durante degli Alighieri</b> (<small>US:&nbsp;</small><span title="Pronunciation in IPA" class="IPA"><a title="Wikipedia:IPA for English">/ˈdɑːnteɪ/</a></span>; <small>UK:&nbsp;</small><span title="Pronunciation in IPA"><a title="Wikipedia:IPA for English">/ˈdænti/</a></span>; 1265–1321), commonly known as <b>Dante</b>, was a major Italian poet of the <a title="Middle Ages">Middle Ages</a>. His <i><a title="Divine Comedy">Divine Comedy</a></i>, originally called <i><span>Commedia</span></i> and later called <i><span lang="it" xml:lang="it">Divina</span></i> by <a title="Boccaccio">Boccaccio</a>, is considered the greatest literary work composed in the <a title="Italian language">Italian language</a> and a masterpiece of world <a title="Literature">literature</a>.<sup><a><span>[</span>1<span>]</span></a></sup></p>
                    <p>&nbsp;</p>
                </div>
                </br></br></br>

                </div>

                <span ng-repeat="item in allItems">
                    <button class="btn btn-warning"
                        ng-mouseout="reset(item.uri)"
                        ng-mouseover="high(item.uri)">{{item.label}}</button>
                </span>

            </div>

            <div class="col-sm-6">
                Items from a public annotation: 
                    <pre>{{allItemsJSON}}</pre>
                    <pre>{{items0}}</pre>
                    <pre>{{items1}}</pre>
            </div>

        </div>

    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->