<!-- buildexamples:section header --><!-- /buildexamples -->

<style>
    .pnd-cons {
        background: #fc0;
    }
</style>

<script>

var punditConfig = {
    debugAllModules: false,
    modules: {
        "Annotation": { debug: false },
        "Consolidation": { debug: true },
        "TextFragmentAnnotator": { debug: true },
        "ImageFragmentAnnotator": { debug: true },
        "XpointersHelper": { debug: true },
        "ItemsExchange": { debug: true}
    }

};

var ConsolidationDemoCtrl = function($scope, $q, Consolidation, Annotation,
    TextFragmentAnnotator, ItemsExchange) {

    var toLoad = ["8fd05a49", "65286186", "385c1647"],
        proms = [];

    for (var l=toLoad.length; l--;) {
        proms[l] = new Annotation(toLoad[l]);
    }

    $scope.$watch(function() {
        return ItemsExchange.getItems();
    }, function(newItems, oldItems) {
        $scope.allItems = newItems;
        $scope.allItemsJSON = JSON.stringify(newItems, null, "  ");
    }, true);


    $scope.go = function() {
        console.log('## Will pass items to consolidate: '+ ItemsExchange.getItems().length);
        Consolidation.consolidate(ItemsExchange.getItems());
    };

    $scope.wipe = function() {
        console.log('## Wiping consolidated annotations');
        Consolidation.wipe();
    };

    $scope.high = function(uri) {
        TextFragmentAnnotator.highlightByUri(uri);
    };

    $scope.reset = function(uri) {
        TextFragmentAnnotator.clearHighlightByUri(uri);
    };

    $scope.isConsolidated = function(item) {
        return Consolidation.isConsolidated(item);
    };

}
</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <div ng-controller="ConsolidationDemoCtrl" class="container clearfix">

        <h3>Consolidation</h3>

        <button class="btn btn-info" ng-click="go()">go</button>
        <button class="btn btn-danger" ng-click="wipe()">wipe</button>

        <div class="row">

            <div class="col-sm-6">
                <div class="pundit-content" about="http://fake-url.it/release_bot/build/examples/dante-1.html">
                <h1>Dante Alighieri</h1>
                <div>
                    <p><img src="http://upload.wikimedia.org/wikipedia/commons/a/a4/Dante-alighieri.jpg" height="150" class="pull-left" /><p><b>Durante degli Alighieri</b> (<small>US:&nbsp;</small><span title="Pronunciation in IPA" class="IPA"><a title="Wikipedia:IPA for English">/ˈdɑːnteɪ/</a></span>; <small>UK:&nbsp;</small><span title="Pronunciation in IPA"><a title="Wikipedia:IPA for English">/ˈdænti/</a></span>; 1265–1321), commonly known as <b>Dante</b>, was a major Italian poet of the <a title="Middle Ages">Middle Ages</a>. His <i><a title="Divine Comedy">Divine Comedy</a></i>, originally called <i><span>Commedia</span></i> and later called <i><span lang="it" xml:lang="it">Divina</span></i> by <a title="Boccaccio">Boccaccio</a>, is considered the greatest literary work composed in the <a title="Italian language">Italian language</a> and a masterpiece of world <a title="Literature">literature</a>.<sup><a><span>[</span>1<span>]</span></a></sup></p>
                    <p>&nbsp;</p>
                </div>
                </br></br></br>

                </div>

                <span ng-repeat="item in allItems">
                    <button class="btn"
                        ng-class="{'btn-warning': isConsolidated(item), 'btn-success': item.isProperty()}"
                        ng-mouseout="reset(item.uri)"
                        ng-mouseover="high(item.uri)">{{item.label}}</button>
                </span>

            </div>

            <div class="col-sm-6">
                Items from a public annotation: 
                    <pre>{{allItemsJSON}}</pre>
            </div>

        </div>

    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->