<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var ContextualMenuDemoCtrl = function($scope, ContextualMenu) {

    $scope.show = function(){
        //ContextualMenu.show(angular.element('.button-to-append').get(0));
        ContextualMenu.show(angular.element('.text-to-append').get(0));
    };

    $scope.hide = function(){
        ContextualMenu.hide();
    }

    var exampleAction = function(){
        console.log('example action execute');
    };

    $scope.addAction = function(){
        ContextualMenu.addAction('exampleAction', function(){return true}, exampleAction);
    }

}

</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <br><br><br>

    <div ng-controller="ContextualMenuDemoCtrl">
        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="show()">Show Menu</button>
        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="hide()">Hide Menu</button>
        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="addAction()">Add Action</button>
        <button type="button" class="button-to-append btn btn-default">Element</button>
        <a class="text-to-append">Text Element</a>
    </div>

    <br><br><br>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->