<!-- buildexamples:section header --><!-- /buildexamples -->

<script>
var punditConfig = {
    modules: {
        'ContextualMenu': {
            debug: true
        }
    }
};


var ContextualMenuDemoCtrl = function($scope, $rootScope, $window, $dropdown, $timeout, ContextualMenu) {

    $scope.exampleHeight = $window.innerHeight;      

    var submenuContent = [
        { text: "Submenu Action1", "href": "#"},
        { text: "Submenu Action2", "href": "#"}
    ];

    var submenuOver;
    var menuActions = [
        {
            name: 'action0',
            type: ['type1'],
            label: "Action0 (type1)",
            priority: 0,
            showIf: function(){
                return true;
            },
            action: function(resource){
                angular.element('.pnd-contexMenu-output').append('exe action0 '+resource.name);
            }
        },
        {
            name: 'action11',
            type: ['type1'],
            label: "Action11 (type1)",
            priority: 1,
            showIf: function(){
                return true;
            },
            action: function(resource){
                angular.element('.pnd-contexMenu-output').append('exe action11 '+resource.name);
            }
        },
        {
            name: 'action13',
            type: ['type1'],
            label: "Action13 (type1)",
            priority: 5,
            showIf: function(){
                return true;
            },
            action: function(resource){
                angular.element('.pnd-contexMenu-output').append('exe action13 '+resource.name);
            }
        },
        {
            name: 'action5',
            type: ['type2'],
            label: "Action5 (type2)",
            priority: 5,
            showIf: function(){
                return true;
            },
            action: function(resource){
                angular.element('.pnd-contexMenu-output').append('exe action5 '+resource.name);
            }
        },
        {
            label: "Sub Menu (type2)",
            name: "subMenuKey",
            submenu: true,
            type: ['type2'],
            priority: -10,
            showIf: function(){
                return true;
            },
            hover: function(){
                var options = {scope: $rootScope.$new()};
                options.scope.content = submenuContent;
                // remove submenu inside submenu
                options.placement = ContextualMenu.getSubMenuPlacement();
                options.template = 'src/ContextualMenu/dropdown.tmpl.html';
                // build menu
                submenu = $dropdown(angular.element('.dropdown-submenu'), options);
                submenu.$promise.then(function(){
                    submenu.show();
                    submenu.$element.hover(function(){
                        submenuOver = true;
                    }, function(){
                        submenuOver = false;
                        submenu.hide();
                        submenu.destroy();
                    });
                });
            },
            leave: function(){
                $timeout(function() {
                    if ( submenu && !submenuOver) {
                        submenu.hide();
                        submenu.destroy();
                    }
                }, 100);
                
            }               
        },
        {
            name: 'Action2',
            type: ['type1'],
            label: "Action2 (type1)",
            priority: 10,
            showIf: function(){
                return true;
            },
            action: function(resource){
                angular.element('.pnd-contexMenu-output').append('exe action2 '+resource.name);
            }
        },
        {
            name: 'ActionNotDisplayed',
            type: ['type99'],
            label: "ActionNotDisplayed (type99)",
            priority: 10,
            showIf: function(){
                return true;
            },
            action: function(resource){
                console.log('exe ActionNotDisplayed with resource ', resource);
            }
        }
    ];

    $scope.showTypeOne = function($event){
        var resource = {name:'resourceName'};
        ContextualMenu.show(450, 100, resource, 'type1');
        $event.stopPropagation();
    };

    $scope.showTypeTwo = function($event){
        var resource = {name:'resourceName'};
        ContextualMenu.show(400, 200, resource, 'type2');
        $event.stopPropagation();
    };

    $scope.hide = function($event){
        ContextualMenu.hide();
        $event.stopPropagation();
    };

    var exampleAction = function(){
        console.log('example action execute');
    };

    $scope.addAllAction = function($event){

        for ( l in menuActions ) {
            if ( l === 2) {
                ContextualMenu.addSubMenu(menuActions[l]);
            } else {
                ContextualMenu.addAction(menuActions[l]);
            }
        }
        
        $event.stopPropagation();
    };

    $scope.displayMenu = function($event){
        var resource = {name:'im a resource'};
        ContextualMenu.show($event.pageX, $event.pageY, resource, 'type1');
    };

}

</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <div class="contexMenu-example-div" ng-controller="ContextualMenuDemoCtrl" ng-click="displayMenu($event)" style="height: {{exampleHeight}}px">
        <br><br><br>
        <br><br><br>
        <br><br><br>
        Click Add All Action button to add custom actions.<br>
        Now show menu by click everywhere.<br>
        Click Hide and Remove Menu to Hide.<br>

        <br><br><br>
        <div class="pnd-contexMenu-output"></div>
        <br><br><br>

        <button type="button" class="pnd-contexMenu-addAll-btn btn btn-default" ng-click="addAllAction($event)">Add All Action</button>
        <button type="button" class="pnd-contexMenu-show1-btn btn btn-default" ng-click="showTypeOne($event)">Show Menu with type1 Actions</button>
        <button type="button" class="pnd-contexMenu-show2-btn btn btn-default" ng-click="showTypeTwo($event)">Show Menu with type2 Actions</button>
        <button type="button" class="pnd-contexMenu-hide-btn btn btn-default" ng-click="hide($event)">Hide and Remove Menu</button>

    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->