<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var ContextualMenuDemoCtrl = function($scope, ContextualMenu) {

    $scope.show = function(position){
        ContextualMenu.show(position, 250, 100);
    };

    $scope.show2 = function(position){
        ContextualMenu.show(position);
    };

    $scope.hide = function(){
        ContextualMenu.hide();
    }

    var exampleAction = function(){
        console.log('example action execute');
    };

    $scope.addAction = function(){
        ContextualMenu.addAction('exampleAction', 'Example Action', 'type1', function(){return true}, exampleAction);
    }

}

</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <div class="contexMenu-example-div" ng-controller="ContextualMenuDemoCtrl">
        <br><br><br>
        <br><br><br>
        <br><br><br>

        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="show()">Show Menu</button>
        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="show('top-left')">Show Menu on TopLeft</button>
        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="hide()">Hide and Remove Menu</button>
        <button type="button" class="pnd-contexMenu-show-btn btn btn-default" ng-click="addAction()">Add Action</button>

    </div>

    <br><br><br>
    <br><br><br>
    <br><br><br>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->