<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var DashboardDemoCtrl = function($scope, Dashboard) {
    
    $scope.toogle = function(){
        Dashboard.toggle();
    };

    $scope.useFluid = true;
    $scope.$watch('useFluid', function(value) {
        Dashboard.options.fluidResize = value;
    });
    
}

</script>

<div data-ng-app="Pundit2" class="pnd-wrp">
    <dashboard></dashboard>

    <br><br><br>

    <div ng-controller="DashboardDemoCtrl">
        <button type="button" class="btn btn-default" ng-click="toogle()">Toggle</button>
    
        <div class="btn-group" ng-model="useFluid" bs-radio-group>
            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="true">Fluid resize</label>
            <label class="btn btn-default"><input type="radio" class="btn btn-default" value="false">Couples resize</label>
        </div>
    </div>
</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->