<!-- buildexamples:section header --><!-- /buildexamples -->


<script>
    var myConf = {
        //endpoint: "http://korbo2.local:80/v1",
        //endpoint: "http://dev.korbo2.org/v1",
        basketID: 1,
        globalObjectName : 'KK',
        limitSearchResult: 11,
        useOnlyCallback: false,
        useTafonyCompatibility: true,
        labelMinLength: 4,
        onLoad: function(){
            console.log("onLoad calling");
        },
        providers: {
            freebase: true,
            dbpedia: false
        },
        type: [
            {  label: 'Place', state: false, URI:'http://place.uri'},
            { label: 'Scientist', state: true, URI:'http://scientist.uri'},
            { label: 'Writer', state: false, URI:'http://writer.uri'},
            { label: 'Type1', state: false, URI:'http://type1.uri'},
            { label: 'Type2', state: false, URI:'http://type2.uri'},
            { label: 'Type3', state: false, URI:'http://type3.uri'},
            { label: 'Type4', state: false, URI:'http://type4.uri'},
            { label: 'Type5', state: false, URI:'http://type5.uri'},
            { label: 'Type6', state: false, URI:'http://type6.uri'},
            { label: 'Type7', state: false, URI:'http://type7.uri'},
            { label: 'Type8', state: false, URI:'http://type8.uri'},
            { label: 'Type9', state: false, URI:'http://type9.uri'},
            { label: 'Type10', state: false, URI:'http://type10.uri'},
            { label: 'Type11', state: false, URI:'http://type11.uri'},
            { label: 'Type12', state: false, URI:'http://type12.uri'},
            { label: 'Type13', state: false, URI:'http://type13.uri'},
            { label: 'Type14', state: false, URI:'http://type14.uri'}
        ],
        buttonLabel: "Search",
        visualizeUseButton: ['freebase', 'korbo'],
        visualizeCopyButton: ['freebase'],
        copyToKorboBeforeUse: true,
        visualizeEditButton: false,

        languages: [
            {
                name:'Italian',
                value:'it',
                state: true
            },
            {
                name:'English',
                value:'en',
                state: true
            },
            {
                name:'German',
                value:'de',
                state: false
            },
            {
                name:'Spanish',
                value:'es',
                state: false
            },
            {
                name:'French',
                value:'fr',
                state: false
            }

        ],
        autoCompleteOptions: 'all'

    };

    var myConf1 = {
        endpoint: "http://korbo2.local:80/v1",
        labelMinLength: 5,
        limitSearchResult: 3,
        globalObjectName : 'FF',
        useTafonyCompatibility: true,
        onReady: function(){
            console.log("widget is ready to use2");
        },

        useAutoComplete: true,
        autoCompleteMode: 'full',
        autoCompleteOptions: 'search'
    }

    var myConf2 = {
        endpoint: "http://korbo2.local:80/v1",
        limitSearchResult: 20,
        labelMinLength: 6,
        globalObjectName : 'GG',
        useTafonyCompatibility: true,

        useAutoComplete: true,
        autoCompleteMode: 'simple',
        autoCompleteOptions: 'all'
    }

    var KeeDemoCtrl = function($scope, KorboCommunicationService, $window) {
        console.log($scope.conf);
        $scope.openSearch = function(){
            $window.KK.callOpenSearch();
        };

        $scope.edit = function(){
            $window.KK.callEdit(1281);
        };
    };


</script>
<div data-ng-app="Pundit2" class="kee-wrp" ng-controller="KeeDemoCtrl">
    <br>
    <korbo-entity-editor conf-name="myConf"></korbo-entity-editor>
    <br>
    <korbo-entity-editor conf-name="myConf1"></korbo-entity-editor>
    <br>
    <korbo-entity-editor conf-name="myConf2"></korbo-entity-editor>
    <br>
    <korbo-entity-editor></korbo-entity-editor>
    <button class="btn btn-xs btn-success" style="margin-left: 50px; margin-bottom: 30px;" ng-click="openSearch()">Search</button>
    <button class="btn btn-xs btn-success" style="margin-left: 50px; margin-bottom: 30px;" ng-click="edit()">Edit</button>
</div>
<!-- buildexamples:section footer --><!-- /buildexamples -->