<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

    var punditConfig = {
        //debugAllModules: true,
        modules: {
            "MyNotebooksContainer": {debug: true}
        }
    };

    var MyNotebooksContainerDemoCtrl = function($scope, $rootScope, NotebookCommunication, MyPundit, MyNotebooksContainer, TextFragmentHandler, TextFragmentAnnotator, ImageHandler) {
        MyPundit.checkLoggedIn();
        $scope.login = function() {
            MyPundit.login().then(function(value) {
               console.log("Is logged in is "+value);
            }, function() {
               console.log("Error: "+value);
            });
        };

        $scope.getNotebooks = function() {
            NotebookCommunication.getMyNotebooks();
        };

        $rootScope.$emit('pundit-boot-done');

    };

</script>

<div data-ng-app="Pundit2" class="pnd-wrp">
    <div ng-controller="MyNotebooksContainerDemoCtrl">
        <my-notebooks-container></my-notebooks-container>

        <button type="button" class="btn btn-success pnd-test-login" ng-click="login()">Login</button>
        <button type="button" class="btn btn-info pnd-test-get-my-notebooks" ng-click="getNotebooks()">Get Notebooks</button>
    </div>
</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->