<!-- buildexamples:section header --><!-- /buildexamples -->

<script>
var MyPunditDemoCtrl = function($scope, MyPundit) {
    
    $scope.login = function(){
       MyPundit.login().then(function(value) {
           $scope.message = "Is logged in is "+value;
           $scope.message += ""+ JSON.stringify(MyPundit.getUserData(), null, "  ");
       }, function() {
           $scope.message = "Error: "+value;
       })
    };
    
    $scope.userLogged = function(){
        return MyPundit.getUserLogged();
    };
    
    $scope.logout = function(){
        MyPundit.logout().then(function(value){
            $scope.message = "Logout call "+value;
        });
    };
}
</script>

<div data-ng-app="Pundit2">

    <div ng-controller="MyPunditDemoCtrl">

        <button type="button" class="btn btn-success" ng-show="!userLogged()" ng-click="login()">Log in</button>
        <button type="button" class="btn btn-success" ng-show="userLogged()" ng-click="logout()">Log out</button>

        <span>Login message: {{message}}</span>

    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->