<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

    var previewDemoCtrl = function($scope, MyPundit, Annotation, ItemsExchange, Preview) {

        var p = new Annotation("da128c73");
        p.then(function() {
            $scope.items = ItemsExchange.getItemsHash();
        });

    $scope.getPreview = function(item){
        Preview.showDashboardPreview(item);

        $scope.isStickyItem(item);
    };

    $scope.hidePreview = function() {
        Preview.hideDashboardPreview();
    };

    $scope.setSticky = function(item) {
        Preview.setItemDashboardSticky(item);
    };

    $scope.isStickyItem = function(item) {
        return Preview.isStickyItem(item);
    };

    }

</script>

<div data-ng-app="Pundit2" class="pnd-wrp">

    <div ng-controller="previewDemoCtrl" class="container clearfix">

        <div class="row">
            <div class="col-lg-6">
                <h2>Items</h2>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in items" ng-mouseover="getPreview(item)" ng-mouseleave="hidePreview()">
                        <span>{{item.label}}</span> <span style="float: right" class="pnd-icon-thumb-tack button-sticky" ng-click="setSticky(item)" ng-show="!isStickyItem(item)"></span>
                    </li>
                </ul>
            </div>


            <preview></preview>
        </div>

    </div>


</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->