<!-- buildexamples:section header --><!-- /buildexamples -->

<script>
    var punditConfig = {
        modules: {
            'Client': {
                basicRelations: [
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "has comment (free text)",
                        "description": "Any comment related to the selected fragment of text or image",
                        "domain": [
                            "http://purl.org/pundit/ont/ao#fragment-image",
                            "http://purl.org/pundit/ont/ao#fragment-text",
                            "http://xmlns.com/foaf/0.1/Image"
                        ],
                        "range": ["http://www.w3.org/2000/01/rdf-schema#Literal"],
                        "uri": "http://schema.org/comment"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "depicts",
                        "description": "An image or part of an image depicts something",
                        "domain": [
                            "http://xmlns.com/foaf/0.1/Image",
                            "http://purl.org/pundit/ont/ao#fragment-image"
                        ],
                        "range": [],
                        "uri": "http://xmlns.com/foaf/0.1/depicts"
                    },
                    {
                        "rdftype": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "is similar to",
                        "description": "The selected fragment (text or image fragment) is similar to another fragment (of the same or of different types)",
                        "domain": [
                            "http://purl.org/pundit/ont/ao#fragment-text",
                            "http://purl.org/pundit/ont/ao#fragment-image",
                            "http://xmlns.com/foaf/0.1/Image"
                        ],
                        "range": [
                            "http://purl.org/pundit/ont/ao#fragment-text",
                            "http://purl.org/pundit/ont/ao#fragment-image",
                            "http://xmlns.com/foaf/0.1/Image"
                        ],
                        "uri": "http://purl.org/pundit/vocab#similarTo"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "quotes",
                        "description": "The selected text fragment is a sentence from a Person or a Work, usually enclosed by quotations (eg: '')",
                        "domain": ["http://purl.org/pundit/ont/ao#fragment-text"],
                        "range": [
                            "http://www.freebase.com/schema/people/person",
                            "http://xmlns.com/foaf/0.1/Person",
                            "http://dbpedia.org/ontology/Person",
                            "http://www.freebase.com/schema/book/written_work",
                            "http://www.freebase.com/schema/book/book"
                        ],
                        "uri": "http://purl.org/spar/cito/includesQuotationFrom"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "talks about",
                        "description": "The selected text fragment talks about some other text, Entity, Person or any other kind of concept",
                        "domain": ["http://purl.org/pundit/ont/ao#fragment-text"],
                        "range": [],
                        "uri": "http://purl.org/pundit/ont/oa#talksAbout"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "empty domain",
                        "description": "The selected text fragment is a Person, a Work, a Place or a well defined Entity",
                        "domain": "",
                        "uri": "http://purl.org/pundit/ont/oa#identifies"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "period of dates ends at",
                        "description": "The selected text fragment corresponds to the specified date period which ends at the specified Date",
                        "domain": ["http://purl.org/pundit/ont/ao#fragment-text"],
                        "range": ["http://www.w3.org/2001/XMLSchema#dateTime"],
                        "uri": "http://purl.org/pundit/ont/oa#periodEndDate"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "translates to",
                        "description": "The selected text fragment translation is given as free text",
                        "domain": ["http://purl.org/pundit/ont/ao#fragment-text"],
                        "range": ["http://www.w3.org/2000/01/rdf-schema#Literal"],
                        "uri": "http://purl.org/pundit/ont/oa#translatesTo"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "undefined domain",
                        "description": "The selected text fragment is the translation of another text fragment",
                        "range": ["http://purl.org/pundit/ont/ao#fragment-text"],
                        "uri": "http://purl.org/pundit/ont/oa#isTranslationOf"
                    },
                    {
                        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
                        "label": "is written in",
                        "description": "The selected text fragment is written in the specified language (french, german, english etc)",
                        "domain": ["http://purl.org/pundit/ont/ao#fragment-text"],
                        "range": ["http://www.freebase.com/schema/language/human_language"],
                        "uri": "http://purl.org/pundit/ont/oa#isWrittenIn"
                    }
                ]
            }
        }
    }
    var ResourcePanelDemoCtrl = function($scope, ResourcePanel, Annotation, MyItems, MyPundit, Client, Item, ItemsExchange, Preview) {

        $scope.triple = ["", "", ""];

        $scope.$watch('predicate', function(pr){
            $scope.triple[1] = pr;
        });

        $scope.$watch('subjectUri', function(sub){
            $scope.triple[0] = sub;
        });

        $scope.$watch('objectUri', function(obj){
            $scope.triple[2] = obj;
        });

        var toLoad = ["8fd05a49", "65286186", "385c1647"];

        for (var l=toLoad.length; l--;) {
            new Annotation(toLoad[l]);
        }

        MyPundit.login().then(function(value) {
            console.log("Is logged in is "+value);
            MyItems.getAllItems();
        }, function() {
            console.log("Error: "+value);
        });

        var loadBasicRelations = function() {
            var num = 0,
                    relations = Client.options.basicRelations;
            for (var p in relations) {
                var item = new Item(relations[p].uri, relations[p]);
                ItemsExchange.addItemToContainer(item, Client.options.relationsContainer);
            }
            Client.log('Loaded '+num+' basic relations');
        }();


        $scope.testLiteral = function(elementID, $event) {
            ResourcePanel.showPopoverLiteral($event.pageX, $event.pageY, "Default content", $event.target).then(function(value){
                angular.element('#'+elementID).text(value);
            });
        };

        $scope.testCalendar = function(elementID, $event){
            ResourcePanel.showPopoverCalendar($event.pageX, $event.pageY, "Default content", $event.target).then(function(value){
                angular.element('#'+elementID).text(value);
            });
        };

        $scope.testEntity = function(elementID, $event){
            ResourcePanel.showItemsForSubject($event.pageX, $event.pageY, $scope.triple, $event.target).then(function(value){
                angular.element('#'+elementID).text(value.label);
                $scope.subject = value;
                $scope.subjectUri = value.uri;
            });
        };

        $scope.testProperties = function(elementID, $event){
            ResourcePanel.showProperties($event.pageX, $event.pageY, $scope.triple, $event.target).then(function(value){
                angular.element('#'+elementID).text(value.label);
                $scope.predicate = value.uri;
                $scope.predicateDomain = value.domain;
                $scope.predicateRange = value.range;
            });
        };

        $scope.testObject = function(elementID, $event){
            ResourcePanel.showItemsForObject($event.pageX, $event.pageY, $scope.triple, $event.target).then(function(value){
                if(typeof(value.label) === 'undefined'){
                    angular.element('#'+elementID).text(value);
                } else {
                    angular.element('#'+elementID).text(value.label);
                }

                $scope.object = value;
                $scope.objectUri = value.uri;
            });
        };

    };
</script>

<div data-ng-app="Pundit2" class="pnd-wrp">
    <div class="container">


        <div ng-controller="ResourcePanelDemoCtrl" style="display: inline;">
            <div>
                <ul>
                    <li style="display:inline-block;">
                        <button class="btn btn-warning" ng-click="testLiteral('test1', $event)">Open literal</button>
                    </li>
                    <li style="display:inline-block;">
                        <button class="btn btn-warning" ng-click="testLiteral('test2', $event)">Open literal2</button>

                    </li>
                    <li style="display:inline-block;">
                        <button class="btn btn-warning" ng-click="testCalendar('test3', $event)">Open Calendar</button>

                    </li>
                    <li style="display:inline-block;">
                        <button class="btn btn-warning" ng-click="testEntity('test5', $event)">Show Subjects</button>

                    </li>
                    <li style="display:inline-block;">
                        <button class="btn btn-warning" ng-click="testProperties('test6', $event)">Show Properties</button>
                    </li>
                    <li style="display:inline-block;">
                        <button class="btn btn-warning" ng-click="testObject('test7', $event)">Show Object</button>
                    </li>

                </ul>
            </div>
            <pre class="col-lg-6">
            <div>Literal 1: <span id="test1"></span></div>
            <div>Literal 2: <span id="test2"></span></div>
            <div>Date selected: <span id="test3"></span></div>
            <div>Subject selected: <span id="test5"></span>
                <ul>
                    <li ng-repeat="type in subject.type">{{type}}</li>
                </ul>
            </div>
            <div>Propertie selected: <span id="test6"></span>
            <span>Domain: </span>
            <ul>
                <li ng-repeat="uri in predicateDomain">{{uri}}</li>
            </ul>
            <span>Range: </span>
            <ul>
                <li ng-repeat="r in predicateRange">{{r}}</li>
            </ul>
            </div>
            <div>Object selected: <span id="test7"></span>
                <ul>
                    <li ng-repeat="type in object.type">{{type}}</li>
                </ul>
            </div>
            </pre>

        </div>

    </div>

</div>


<!-- buildexamples:section footer --><!-- /buildexamples -->