<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var ToolbarDemoCtrl = function($scope, Toolbar) {
    
    var numberErrors = 0;
    
    $scope.setLogin = function(status){
        Toolbar.setUserStatus(status);
    };
    
    $scope.getStatus = function(){
        return Toolbar.getUserStatus();
    };
    
    $scope.addError = function(){
        var n = numberErrors;
        var a = Toolbar.addError("Error #"+n, function(){console.log("clicked on error #", n)});
        numberErrors++;
        //var button = angular.element('.pnd-toolbar-error-button a');
        //button.trigger('click');
    };
    
}

</script>
<div data-ng-app="Pundit2" class="pnd-wrp">
    <div class="container">
        <toolbar></toolbar>
        
        <div ng-controller="ToolbarDemoCtrl">
            <button type="button" class="btn btn-success" ng-click="setLogin(true)" ng-show="!getStatus()">Log in</button>
            <button type="button" class="btn btn-warning" ng-click="setLogin(false)" ng-show="getStatus()">Log out</button>
            <button type="button" class="btn btn-danger" ng-click="addError()" >Add Error</button>
        </div>
    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->