<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var ToolbarDemoCtrl = function($scope, Toolbar, MyPundit) {
    
    var numberErrors = 0;
    
    $scope.getStatus = function(){
        return Toolbar.getUserStatus();
    };
    
    $scope.addError = function(){
        var n = numberErrors;
        var a = Toolbar.addError("Error #"+n, function(){console.log("clicked on error #", n)});
        numberErrors++;
    };
    
    $scope.login = function(){
       MyPundit.login().then(function(value) {
           Toolbar.setUserStatus(value);
       }, function() {
           
       })
    };
    
    $scope.logout = function(){
        MyPundit.logout().then(function(value){
            Toolbar.setUserStatus(false);
        });
    };
    
}

</script>
<div data-ng-app="Pundit2" class="pnd-wrp">
    <div class="container">
        <toolbar></toolbar>
        
        <div ng-controller="ToolbarDemoCtrl">
            <button type="button" class="btn btn-success" ng-show="!getStatus()" ng-click="login()">Log in</button>
            <button type="button" class="btn btn-warning" ng-show="getStatus()" ng-click="logout()">Log out</button>
            <button type="button" class="btn btn-danger" ng-click="addError()" >Add Error</button>
        </div>
    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->