<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

var ToolbarDemoCtrl = function($scope, Toolbar, MyPundit, $httpBackend, NameSpace, $rootScope) {
    
    var numberErrors = 0;
    
    $scope.login = function() {
        MyPundit.login();
    };
    
    $scope.logout = function() {
        MyPundit.logout();
    };
    
    $scope.getStatus = function() {
        return MyPundit.getUserLogged();
    };
    
    $scope.addError = function(){
        var n = numberErrors;
        var a = Toolbar.addError("Error #"+n, function() { console.log("clicked on error #", n) });
        numberErrors++;
    };

}

</script>
<div data-ng-app="Pundit2" class="pnd-wrp">
    <div class="container">
        <toolbar></toolbar>
        
        <div ng-controller="ToolbarDemoCtrl">
            <button type="button" class="btn btn-success btn-example-login" ng-show="!getStatus()" ng-click="login()">Log in</button>
            <button type="button" class="btn btn-warning btn-example-logout" ng-show="getStatus()" ng-click="logout()">Log out</button>
            <button type="button" class="btn btn-danger" ng-click="addError()" >Add Error</button>
        </div>
    </div>

</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->