<!-- buildexamples:section header --><!-- /buildexamples -->

<script>

    var TripleComposerDemoCtrl = function($scope, $http, NameSpace, ItemsExchange, Item, CLIENTDEFAULTS, PAGEITEMSCONTAINERDEFAULTS) {

        var loadBasicRelations = function() {
            var num = 0, relations = CLIENTDEFAULTS.basicRelations;
            for (var p in relations) {
                var item = new Item(relations[p].uri, relations[p]);
                ItemsExchange.addItemToContainer(item, CLIENTDEFAULTS.relationsContainer);
            }
        }();

        var items = [
            { 
                uri: "item1",
                label: "item1Label",
                type: ["http://purl.org/pundit/ont/ao#fragment-text"]
            }
        ];
        var loadMockedItems = function(){
            for (var j in items) {
                var item = new Item(items[j].uri, items[j]);
                ItemsExchange.addItemToContainer(item, PAGEITEMSCONTAINERDEFAULTS.container);
            }
        }();
        
        /*$scope.deleteNotebook = function(){
            $http({
                headers: { 'Content-Type': 'application/json' },
                method: 'DELETE',
                url: NameSpace.get('asNB')+"/0667c48c",
                withCredentials: true
            }).success(function(data) {
                console.log(data);
            }).error(function(msg) {
                console.log(msg)
            });
        };
        $scope.setCurrentNotebook = function(){
            $http({
                headers: { 'Content-Type': 'application/json' },
                method: 'PUT',
                url: NameSpace.get('asNBCurrent')+"/ef8b0ac9",
                withCredentials: true
            }).success(function(data) {
                console.log(data);
            }).error(function(msg) {
                console.log(msg)
            });
        };*/

    };

</script>

<div data-ng-app="Pundit2" class="pnd-wrp" ng-controller="TripleComposerDemoCtrl">
    <triple-composer></triple-composer>
    <!--<button ng-click="deleteNotebook()">Delete Notebook</button>
    <button ng-click="setCurrentNotebook()">Set New Current Notebook</button>-->
</div>

<!-- buildexamples:section footer --><!-- /buildexamples -->