//
// MODAL AND WRAPPER
// --------------------------------------------------


.kee-modal-body {
	padding: 0px 0px 0px 0px;
	border-top: 4px solid @gray-light;
	}
		
.kee-wrp {
	background-color: lighten(@gray-lighter, 5%);
	}
	
	
//
// COMPONENTS
// --------------------------------------------------

	
// TABS ----- //
	
.nav-tabs {
	margin: 0px 0px 1px 0px !important;
	}
	
// VERTICAL TABS ----- //
	
.tabs-left > .nav-tabs {
	margin-bottom: 0px;
	margin-right: 0px;
	}
		
// BADGE ----- //
	
.badge {
	margin: 0px 0px 0px 5px;
	}
		
// ITEM ----- //
	
.pnd-item { // no animation
	margin-left: 0px;
		
	.pnd-item-typeLabel {
		display: none;
		}
	}
		

//
// SEARCH
// --------------------------------------------------

.kee-search {
	background-color: #fff;
	border-bottom: 1px solid @gray-light;
	padding: 5px;
	margin-bottom: 5px;
	
	label {
		display: inline-block;
		}	
	
	.left-inner-icon {
		display: inline-block;	
		position: relative;
		padding: 0px;
		margin-left: 5px;
		width: 74%;
		
		input {
	  		padding-right: 20px;
	  		font-weight: normal;
	  		}

  		.pnd-icon {
		  	position: absolute;
		  	color: @gray-light;
		  	right: 0px;
		  	top: 0px;
		  	padding: 7px;
		  	-moz-box-sizing: border-box;
		  	-webkit-box-sizing: border-box;
		  	box-sizing: border-box;
		  	}
	}
	
}

//
// FOOTER
// --------------------------------------------------

.kee-footer {
	// background-color: darken(@gray-lighter, 5%); // gray skin
	background-color: #fff;
	border-top: 1px solid @gray-light;
	padding: 5px;
	margin: 0px;
	clear: both;
	}


//
// MESSAGES
// --------------------------------------------------


.kee-error {
	color: @brand-danger;
	}

.kee-input-error-server{
	background-color: @brand-danger !important;
	opacity: 0.5 !important;
	}

.kee-autocomplete-list{

	}
	
.kee-server-messages {
	padding: 5px 0px 0px 10px;
	
	.kee-server-searching {
		text-align: center;
		height: 300px;
		position: relative;
		
		.pnd-icon {
			position: absolute;
			top: 50%;
			left: 45%;
			}
		}
	
	}


//
// CONTENT
// --------------------------------------------------

// COL LEFT - PROVIDERS ----- //

.pnd-vertical-tabs  {
	height: @providers-height;
	}

.tab-content > .tab-pane {
	margin-bottom: 0px;
	}

// COL CENTER - RESULTS ----- //

.pnd-vertical-tab-list-content {
	width: @results-width;
	height: @results-height !important;
	background-color: #fff;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	}

// COL RIGHT - PREVIEW ----- //

.pnd-preview {
	
	.pnd-panel-tab-content-content {
		height: @preview-height;
		}
	
	.pnd-panel-tab-content-header {
		margin-top: 0px;
		white-space: normal;
		line-height: normal;
		}
	}


//
// NEW
// --------------------------------------------------

.kee-new-content {

	.left-inner-icon {	
		position: relative;
		padding: 0px;
		
		input {
	  		padding-right: 20px;
	  		font-weight: normal;
	  		}

  		.pnd-icon {
		  	position: absolute;
		  	color: @gray-light;
		  	right: 0px;
		  	top: 0px;
		  	padding: 7px;
		  	-moz-box-sizing: border-box;
		  	-webkit-box-sizing: border-box;
		  	box-sizing: border-box;
		  	}
	}
	
}

.kee-new-types {

	.kee-list-types {
		overflow-y: auto;
		height: @types-height;
		border: 1px solid @gray-extra-light;
		}
}

.kee-top-area {
	background-color: #fff;
	border-bottom: 1px solid @gray-light;
	padding: 5px;
	margin-bottom: 5px;
	
	.kee-top-area-menu {
		
	}
}

.kee-new-languages {

	.pnd-vertical-tab-list-content {
		width: @content-width;
		padding: 0px 10px 0px 10px;
	}
}

.kee-right-content {
	width: @content-width;
	height: @preview-height;
	float: right;
	padding: 0px 10px 0px 10px;
	}
	
.kee-new-languages {
	background-color: lighten(@gray-lighter, 5%);

	.tabs-left > .nav-tabs > li > a {
		  min-width: @language-width;
		  }
	  }