<div class="kee-wrp kee-modal-container modal" tabindex="-1" role="dialog" ng-controller="KeeModalCtrl">
    <div class="modal-dialog">
        <div class="modal-content kee-modal-content">
            <!-- <div class="modal-header kee-modal-header">
                <h4 class="modal-title kee-modal-title">Korbo EE</h4>
            </div> -->
            <div class="modal-body kee-modal-body">
                <div ng-model="korboModalTabs.activeTab" data-template="src/KorboEE/Modal/KorboEE.modal.tabs.tmpl.html" bs-tabs="korboModalTabs"> </div>
            </div>
            <div class="modal-footer kee-modal-footer">
                <button type="button" class="btn btn-xs btn-success" ng-click="closeKeeModal()">Close</button>
                <button type="button" class="btn btn-xs btn-success" ng-show="showMoreInfo.visibility" ng-class="{'disabled': showMoreInfo.disabled}" ng-click="moreInfo()">More Info</button>
                <button type="button" class="btn btn-xs btn-success" ng-show="showCopyInEditor.visibility" ng-class="{'disabled': showCopyInEditor.disabled}" ng-click="copyInEditor()">Copy in editor</button>
                <button type="button" class="btn btn-xs btn-success" ng-show="showUse.visibility" ng-class="{'disabled': showUse.disabled}" ng-click="use()">Use</button>
                <button type="button" class="btn btn-xs btn-success" ng-show="showUseAndCopy.visibility" ng-class="{'disabled': showUseAndCopy.disabled}" ng-click="copyAndUse()">Copy and Use</button>
                <button type="button" class="btn btn-xs btn-success" ng-show="showSaveAndAdd.visibility"ng-click="save()">Save and add</button>
            </div>
        </div>
    </div>
</div>
