<div class="modal pnd-login-modal-container" tabindex="-1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"> {{titleMessage}} </h4>
            </div>

            <div class="modal-body pnd-login-modal-body">
                {{notifyMessage}}
            </div>

            <div class="modal-footer pnd-login-modal-footer">
                <button type="button" class="btn btn-default pnd-login-modal-cancel" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-default pnd-login-modal-openPopUp" ng-click="confirm()">Confirm</button>
            </div> <!-- end modal-footer -->

        </div> <!-- end modal content-->

    </div> <!-- end modal dialog-->

</div> <!-- end modal -->