<div class="modal pnd-info-modal-container pnd-ignore" tabindex="-1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"> {{titleMessage}} </h4>
            </div>

            <div class="modal-body pnd-info-modal-body">
                <table class="table table-condensed pnd-table">
                    <tr ng-repeat="field in info">
                        <td class="modal-field-label">{{field.label}}</td>
                        <td class="modal-field-value">{{field.value}}</td>
                    </tr>
                    <tr ng-repeat="link in links">
                        <td class="modal-field-label">{{link.label}}</td>
                        <td class="modal-field-value"><a target="_blank" href="{{link.ref}}">{{link.linkLabel}}</a></td>
                    </tr>
                </table>                
            </div>

            <div class="modal-footer pnd-info-modal-footer">
                <button type="button" class="btn btn-default pnd-info-modal-close" ng-click="close()">Close</button>
                <!-- <button type="button" class="btn btn-default pnd-info-modal-tell" ng-click="send()">Found a bug? tell us!</button> -->
            </div> <!-- end modal-footer -->

        </div> <!-- end modal content-->

    </div> <!-- end modal dialog-->

</div> <!-- end modal -->