<div class="modal pnd-info-modal-container pnd-ignore" tabindex="-1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"> {{titleMessage}} </h4>
            </div>

            <div class="modal-body pnd-info-modal-body">
            
	            <table class="table table-condensed pnd-table">
		            <tr>
			          <td><strong>Pundit Version:</strong></td>
			          <td>2.0.10.beta.20140729</td>
		          	</tr>
		          	<tr>
			          <td><strong>Annotation server URL:</strong></td>
			          <td>http://demo-cloud.as.thepund.it:8080/annotationserver/</td>
		          	</tr>
		          	<tr>
			          <td><strong>Contact the Pundit team:</strong></td>
			          <td>punditdev@netseven.it</td>
		          	</tr>
		            <tr>
			          <td><strong>Korbo basket:</strong></td>
			          <td>-</td>
		          	</tr>
		          	<tr>
			          <td><strong>License:</strong></td>
			          <td>http://url3.com</td>
		          	</tr>
		          	<tr>
			          <td><strong>Developed by:</strong></td>
			          <td>Net7 Srl</td>
		          	</tr>
		          	<tr>
			          <td><strong>Credits:</strong></td>
			          <td>-</td>
		          	</tr>
		          	<tr>
			          <td><strong>Predicates vocabularies:</strong></td>
			          <td>Pundit default basic relations</td>
		          	</tr>
		          	<tr>
			          <td><strong>Providers:</strong></td>
			          <td>Freebase Muruca KorboBasket Korbo2</td>
		          	</tr>
	          	</table>

            <!--
                <ul>
                    <li ng-repeat="label in info">
                        {{label}}
                    </li>
                    <li ng-repeat="link in links">
                        {{link.label}} : <a href="{{link.ref}}">here</a>
                    </li>
                </ul>
                -->
            </div>

            <div class="modal-footer pnd-info-modal-footer">
                <button type="button" class="btn btn-default pnd-info-modal-close" ng-click="close()">Close</button>
                <!-- <button type="button" class="btn btn-default pnd-info-modal-tell" ng-click="send()">Found a bug? tell us!</button> -->
            </div> <!-- end modal-footer -->

        </div> <!-- end modal content-->

    </div> <!-- end modal dialog-->

</div> <!-- end modal -->