<div class="modal pnd-send-modal-container" tabindex="-1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"> {{titleMessage}} </h4>
            </div>

            <div class="modal-body pnd-send-modal-body">
            	<div class="form-group">
	            	<label for="exampleInputEmail1">Subject:</label>
	            	<input placeholder="Subject" ng-model="text.subject" class="form-control" >
	            </div>
	            <div class="form-group">
	            	<label for="exampleInputPassword1">Description:</label>
	            	<textarea ng-model="text.msg" class="form-control"  rows="5"></textarea>
	            </div>
            </div>

            <div class="modal-footer pnd-send-modal-footer">
            	<button type="button" class="btn btn-default pnd-send-modal-close" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-success disabled pnd-send-modal-send" ng-click="send()">Send</button>
            </div> <!-- end modal-footer -->

        </div> <!-- end modal content-->

    </div> <!-- end modal dialog-->

</div> <!-- end modal -->