<div class="pnd-statement-row clearfix">

    <!-- Subject -->
    <div class="pnd-statement-subject">

        <div ng-hide="subjectFound">
            <div class="left-inner-icon">
                <span class="pnd-icon {{subjectIcon}}"></span>
                <input type="text" class="input-sm" ng-model="subjectSearch" ng-click="onClickSubject($event)">
            </div>
            <button>NEW</button>
        </div>

        <div ng-show="subjectFound" ng-mouseover="subjectOver=true" ng-mouseleave="subjectOver=false">
            <div>{{subjectLabel}}</div>
            <div ng-hide="subjectOver">{{subjectTypeLabel}}</div>
            <button ng-show="subjectOver">D</button>
        </div>


    </div>

    <!-- Predicate (Relationship) -->
    <div class="pnd-statement-predicate">

        <div ng-hide="predicateFound">
            <div class="left-inner-icon">
                <span class="pnd-icon {{predicateIcon}}"></span>
                <input type="text" class="input-sm" ng-model="predicateSearch" ng-click="onClickPredicate($event)">
            </div>
        </div>

        <div ng-show="predicateFound">
            <div>{{predicateLabel}}</div>
        </div>        

    </div>

    <!-- Object -->
    <div class="pnd-statement-object">

        <div ng-hide="objectFound">
            <div class="left-inner-icon">
                <span class="pnd-icon {{objectIcon}}"></span>
                <input type="text" class="input-sm" ng-model="objectSearch" ng-click="onClickObject($event)">
            </div>
            <!--Calendar Icon-->
            <button ng-click="onClickObjectCalendar($event)">C</button>
            <!--Pen Icon-->
            <button ng-click="onClickObjectLiteral($event)">P</button>
            <button>NEW</button>
        </div>

        <div ng-show="objectFound" ng-mouseover="objectOver=true" ng-mouseleave="objectOver=false">
            <div>{{objectLabel}}</div>
            <div ng-hide="objectOver">{{objectTypeLabel}}</div>
            <button ng-show="objectOver">D</button>
        </div>

    </div>

    <div class="pnd-statement-buttons">
        <button ng-click="wipeStatement()">X</button>
        <button>[]</button>
    </div>

</div>