<div class="pnd-statement-row clearfix">

    <!-- Subject -->
    <div class="pnd-statement-subject">

        <div ng-hide="subjectFound">
            <div class="left-inner-icon">
                <span class="pnd-icon {{subjectIcon}}"></span>
                <input type="text" class="input-sm" placeholder="search a subject" ng-model="subjectSearch" ng-click="onClickSubject($event)" ng-keyup="onKeyUpSubject($event)">
            </div>
            <button>NEW</button>
        </div>

        <div ng-show="subjectFound" ng-mouseover="subjectOver=true" ng-mouseleave="subjectOver=false">
            <div>{{subjectLabel}}</div>
            <div ng-hide="subjectOver">{{subjectTypeLabel}}</div>
            <button ng-show="subjectOver" ng-click="wipeSubject()">D</button>
        </div>


    </div>

    <!-- Predicate (Relationship) -->
    <div class="pnd-statement-predicate">

        <div ng-hide="predicateFound">
            <div class="left-inner-icon">
                <span class="pnd-icon {{predicateIcon}}"></span>
                <input type="text" class="input-sm" placeholder="search a predicate" ng-model="predicateSearch" ng-click="onClickPredicate($event)" ng-keyup="onKeyUpPredicate($event)">
            </div>
        </div>

        <div ng-show="predicateFound" ng-mouseover="subjectOver=true" ng-mouseleave="subjectOver=false">
            <div>{{predicateLabel}}</div>
            <button ng-click="wipePredicate()">D</button>
        </div>     

    </div>

    <!-- Object -->
    <div class="pnd-statement-object">

        <div ng-hide="objectFound">
            <div class="left-inner-icon">
                <span class="pnd-icon {{objectIcon}}"></span>
                <input type="text" class="input-sm" placeholder="search an object" ng-model="objectSearch" ng-click="onClickObject($event)" ng-keyup="onKeyUpObject($event)">
            </div>
            <!--Calendar Icon-->
            <button ng-hide="objectLiteral" ng-click="onClickObjectCalendar($event)">C</button>
            <!--Pen Icon-->
            <button ng-click="onClickObjectLiteral($event)">P</button>
            <button>NEW</button>
        </div>

        <div ng-show="objectFound" ng-mouseover="objectOver=true" ng-mouseleave="objectOver=false">
            <div>{{objectLabel}}</div>
            <div ng-hide="objectOver">{{objectTypeLabel}}</div>
            <button ng-show="objectOver" ng-click="wipeObject()">D</button>
            <button ng-show="objectOver && objectLiteral" ng-click="onClickObjectLiteral($event)">P</button>
        </div>

    </div>

    <div class="pnd-statement-buttons">
        <button ng-click="remove()">X</button>
        <button ng-click="duplicate()">[]</button>
    </div>

</div>