<!-- HEADER -->

<div class="pnd-panel-tab-content-header">
    {{headerMessage}}
</div> <!-- end pnd-panel-tab-content-header -->

<!-- CONTENT -->

<div class="pnd-panel-tab-content-content">

    <div class="pnd-triplecomposer-statements-container pnd-inner-scrollable" ng-hide="saving">
        <statement ng-repeat="s in statements" id="{{s.id}}" duplicated="s.scope.duplicated"></statement>
    </div>
    <!-- message-->
    <div class="pnd-triplecomposer-saving-content" ng-if="saving">
        <span class="pnd-icon {{savingIcon}} pnd-icon-3x"></span>
        <span class="{{shortMessageClass}}">{{shortMessagge}}</span>
        {{textMessage}}
    </div>
    <!-- // end message-->
</div> <!-- end pnd-panel-tab-content-content -->

<!-- FOOTER -->

<div class="pnd-panel-tab-content-footer">
    
    <button class="pnd-triplecomposer-add-blank btn btn-success btn-xs" ng-click="onClickAddStatement()">Add blank Statement</button>
    
    <button class="pnd-triplecomposer-save btn btn-success btn-xs disabled" ng-hide="editMode" ng-click="saveAnnotation()">Save all Statements to Server</button>
    <button class="pnd-triplecomposer-save btn btn-success btn-xs disabled" ng-show="editMode" ng-click="editAnnotation()">Update Annotation</button>
    <button class="btn btn-success btn-xs" ng-show="editMode" ng-click="cancelEditMode()">Cancel</button>
    
</div> <!-- end pnd-panel-tab-content-footer -->